Repository RealEskalate/2023-project-phase-starter-projects, pull requests merged in 2023-08, with the labels that each got.

#22 feat(AASTU-web-1): Project setup
  aastu/web/group-1/a2sv-blogs/.eslintrc.json
  aastu/web/group-1/a2sv-blogs/.gitignore
  aastu/web/group-1/a2sv-blogs/README.md
  aastu/web/group-1/a2sv-blogs/next.config.js
  aastu/web/group-1/a2sv-blogs/package-lock.json
  aastu/web/group-1/a2sv-blogs/package.json
  aastu/web/group-1/a2sv-blogs/postcss.config.js
  aastu/web/group-1/a2sv-blogs/public/next.svg
  aastu/web/group-1/a2sv-blogs/public/vercel.svg
  aastu/web/group-1/a2sv-blogs/src/app/globals.css
  aastu/web/group-1/a2sv-blogs/src/app/layout.tsx
  aastu/web/group-1/a2sv-blogs/src/app/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/profile/layout.tsx
  aastu/web/group-1/a2sv-blogs/src/lib/providers.tsx
  aastu/web/group-1/a2sv-blogs/src/lib/redux/features/blog.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/features/stories.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/features/teams.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/features/user.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/services/blogApi.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/services/storiesApi.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/services/teamApi.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/services/userApi.ts
  aastu/web/group-1/a2sv-blogs/src/lib/redux/store.ts
  aastu/web/group-1/a2sv-blogs/src/types/index.ts
  aastu/web/group-1/a2sv-blogs/tailwind.config.ts
  aastu/web/group-1/a2sv-blogs/tsconfig.json
Labels: enhancement

#29 feat(AAiT-mobile-2): Add App Wide Base Classes
  aait/mobile/group-2/blog_app/.gitignore
  aait/mobile/group-2/blog_app/lib/core/constants/constants.dart
  aait/mobile/group-2/blog_app/lib/core/error/exception.dart
  aait/mobile/group-2/blog_app/lib/core/error/failure.dart
  aait/mobile/group-2/blog_app/lib/core/usecase/usecase.dart
  aait/mobile/group-2/blog_app/pubspec.lock
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: enhancement

#96 feat(mobile): add authentication page
  aastu/mobile/group-2/blog_application/lib/features/blog/presentation/pages/auth.dart
Labels: Mobile

#103 feat(mobile) Add bloc and usecase for authentication
  aastu/mobile/group-2/blog_application/lib/features/blog/domain/repositories/article_repository.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/domain/repositories/auth_repository.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/domain/usecases/login_usecase.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/domain/usecases/register_usecase.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/presentation/blocs/auth/auth_bloc.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/presentation/blocs/auth/auth_event.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/presentation/blocs/auth/auth_state.dart
Labels: Mobile

#107 Fix(Mobile): Add usecases for article fetch
  aastu/mobile/group-2/blog_application/lib/core/usecases/usecase.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/domain/usecases/get_article.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/domain/usecases/get_articles.dart
  aastu/mobile/group-2/blog_application/lib/features/blog/domain/usecases/get_tags.dart
Labels: Mobile

#110 feat(mobile) : Added Authentication and Register Page
  aastu/mobile/group-3/blog_application_aastu_grp3/assets/a2sv_blue_2.png
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/screens.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/screens/login_screen.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/screens/sign_up_screen.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/widgets/nav_image_widget.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/pubspec.lock
  aastu/mobile/group-3/blog_application_aastu_grp3/pubspec.yaml
  aastu/mobile/group-3/blog_application_aastu_grp3/test/authentication/authentication_test.dart
Labels: Mobile

#114 feat(mobile): add home page and widgets
  aastu/mobile/group-1/blog_app/assets/images/doctor.jpg
  aastu/mobile/group-1/blog_app/lib/features/blog/presentation/screen/home_screen.dart
  aastu/mobile/group-1/blog_app/lib/features/blog/presentation/widgets/all.dart
  aastu/mobile/group-1/blog_app/lib/features/blog/presentation/widgets/politics.dart
  aastu/mobile/group-1/blog_app/lib/features/blog/presentation/widgets/sport.dart
  aastu/mobile/group-1/blog_app/lib/features/blog/presentation/widgets/tech.dart
  aastu/mobile/group-1/blog_app/lib/features/onboarding/widgets/login_widget.dart
  aastu/mobile/group-1/blog_app/lib/features/user/presentation/pages/login.dart
  aastu/mobile/group-1/blog_app/lib/main.dart
Labels: Mobile

#118 Asnake.get article
  aastu/mobile/group-3/blog_application_aastu_grp3/fonts/Poppins-Bold.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/fonts/Poppins-Italic.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/fonts/Poppins-Light.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/fonts/Poppins-Regular.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/core/theme.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/get_article/presentation/pages/ArticlePage.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/get_article/presentation/pages/HomePage.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/pubspec.lock
  aastu/mobile/group-3/blog_application_aastu_grp3/pubspec.yaml
Labels: Mobile

#129 Aastu.mobile.g3.mihret.add task UI
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/article/presentation/pages/add_task_body.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/article/presentation/widgets/custom_categories_button.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/article/presentation/widgets/custom_publish_button.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/article/presentation/widgets/custom_tag_button.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/article/presentation/widgets/custom_text_area.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/article/presentation/widgets/custom_text_field.dart
Labels: Mobile

#140 feat(AAiT-mobile-2): Add User Local data source
  aait/mobile/group-2/blog_app/lib/features/user/data/datasources/local/user_local_data_source.dart
  aait/mobile/group-2/blog_app/lib/features/user/data/datasources/local/user_local_data_source_impl.dart
Labels: Mobile, group 2, AAiT

#120 Add(AAiT-backend-1b): Notification feature
  aait/backend/group-1B/Application.Tests/Application.Tests.csproj
  aait/backend/group-1B/Application/Application.csproj
  aait/backend/group-1B/Application/Contracts/Persistence/INotificationRepository.cs
  aait/backend/group-1B/Application/DTOs/Notifications/GetNotificationDto.cs
  aait/backend/group-1B/Application/DTOs/Notifications/Validators/GetNotificationDtoValidator.cs
  aait/backend/group-1B/Application/DTOs/Posts/Validators/NotificationDto.cs
  aait/backend/group-1B/Application/Features/Notifications/Handlers/Commands/CreateNotificationRequestHandler.cs
  aait/backend/group-1B/Application/Features/Notifications/Handlers/Queries/GetAllNotificationRequestHandler.cs
  aait/backend/group-1B/Application/Features/Notifications/Requests/Commands/CreateNotificationRequest.cs
  aait/backend/group-1B/Application/Features/Notifications/Requests/Commands/DeleteNotificationRequest.cs
  aait/backend/group-1B/Application/Features/Notifications/Requests/Queries/GetAllNotifiactionsRequest.cs
  aait/backend/group-1B/Domain/Domain.csproj
  aait/backend/group-1B/Domain/Entities/Notification.cs
  aait/backend/group-1B/Domain/Entities/User.cs
  aait/backend/group-1B/Infrastructure/Infrastructure.csproj
  aait/backend/group-1B/Persistence/Persistence.csproj
  aait/backend/group-1B/WebApi/WebApi.csproj
Labels: backend, AAiT, group 1b

#131 feat(AAiT-mobile-2): Create Custom Http Client
  aait/mobile/group-2/blog_app/lib/core/network/custom_client.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/remote/remote_datasource_impl.dart
Labels: enhancement, Mobile, group 2, AAiT

#150 feat(AAit-backend-1A): Adding Comment Functionality
  aait/backend/group-1A/.vscode/launch.json
  aait/backend/group-1A/.vscode/tasks.json
  aait/backend/group-1A/Application.Tests/Application.Tests.csproj
  aait/backend/group-1A/Application/Application.csproj
  aait/backend/group-1A/Application/Contracts/ICommentReactionRepository.cs
  aait/backend/group-1A/Application/Contracts/ICommentRepository.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/DTO/CommentCreateDTO.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/DTO/CommentDTO.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/DTO/CommentResponseDTO.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/DTO/CommentUpdateDTO.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/DTO/IBaseCommentDTO.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/Validations/CommentCreateValidator.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/Validations/CommentDeleteValidator.cs
  aait/backend/group-1A/Application/DTO/CommentDTOS/Validations/CommentUpdateValidator.cs
  aait/backend/group-1A/Application/DTO/CommentReactionDTOS/DTO/CommentReactionCreateDTO.cs
  aait/backend/group-1A/Application/DTO/CommentReactionDTOS/DTO/CommentReactionDTO.cs
  aait/backend/group-1A/Application/DTO/CommentReactionDTOS/DTO/CommentReactionResponseDTO.cs
  aait/backend/group-1A/Application/DTO/CommentReactionDTOS/DTO/CommentReactionUpdateDTO.cs
  aait/backend/group-1A/Application/DTO/CommentReactionDTOS/DTO/IBaseCommentReactionDTO.cs
  aait/backend/group-1A/Application/DTO/CommentReactionDTOS/Validations/CreateCommentReactionValidator.cs
  aait/backend/group-1A/Application/DTO/CommentReactionDTOS/Validations/UpdateCommentReactionValidator.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Commands/CreateCommentHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Commands/DeleteCommentHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Commands/UpdateCommentHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Queries/GetAllCommentsHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Queries/GetCommentByPostIdHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Queries/GetSingleCommentHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Requests/Commands/CreatComment.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Requests/Commands/DeleteComment.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Requests/Commands/UpdateComment.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Requests/Queries/GetAllComments.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Requests/Queries/GetPostComments.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Requests/Queries/GetSingleComment.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Handlers/Commands/CreateCommentReactionHandler.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Handlers/Commands/DeleteCommentReactionHandler.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Handlers/Commands/UpdateCommentReactionHandler.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Handlers/Queries/GetAllCommentReactionsHandler.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Requests/Commands/CreateCommentReaction.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Requests/Commands/DeleteCommentReaction.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Requests/Commands/UpdateCommentReaction.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Requests/Queries/GetAllCommentReaction.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Requests/Queries/GetCommentReaction.cs
  aait/backend/group-1A/Domain/Domain.csproj
  aait/backend/group-1A/Domain/Entites/Comment.cs
  aait/backend/group-1A/Domain/Entites/CommentReaction.cs
  aait/backend/group-1A/Infrastructure/Infrastructure.csproj
  aait/backend/group-1A/Persistence/Configurations/DatabaseContext.cs
  aait/backend/group-1A/Persistence/Configurations/Entities/CommentReactionConfiguration.cs
  aait/backend/group-1A/Persistence/Persistence.csproj
  aait/backend/group-1A/Persistence/PersistenceServiceRegistration.cs
  aait/backend/group-1A/Persistence/Repositories/.gitkeep
  aait/backend/group-1A/Persistence/Repositories/CommentRepository/CommentRepository.cs
  aait/backend/group-1A/Persistence/Repositories/ReactionRespositories/CommentReactionRepository.cs
  aait/backend/group-1A/Persistence/SocialMediaDbContext.cs
  aait/backend/group-1A/WebApi/Controllers/CommentController.cs
  aait/backend/group-1A/WebApi/Controllers/CommentReactionController.cs
  aait/backend/group-1A/WebApi/WebApi.csproj
Labels: backend, AAiT, group 1a

#143 feat(aastu.web.g1):impact stories images added
  aastu/web/group-1/a2sv-blogs/public/images/databricks.png
  aastu/web/group-1/a2sv-blogs/public/images/instadeep.png
  aastu/web/group-1/a2sv-blogs/public/images/linkedin.png
  aastu/web/group-1/a2sv-blogs/public/images/yishak.png
  aastu/web/group-1/a2sv-blogs/src/app/stories/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/SuccessStoriesHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/SuccessStoryCard.tsx
Labels: web, AASTU, group 1

#168 Aait.mobile.g2.nathan zelalem.repository implementation
  aait/mobile/group-2/blog_app/lib/features/user/data/datasources/local/user_local_data_source.dart
  aait/mobile/group-2/blog_app/lib/features/user/data/datasources/local/user_local_data_source_impl.dart
  aait/mobile/group-2/blog_app/lib/features/user/data/repositories/user_repository_impl.dart
  aait/mobile/group-2/blog_app/lib/features/user/domain/repositories/user_repository.dart
  aait/mobile/group-2/blog_app/lib/features/user/domain/usecases/user_usecases/get_bookmarked_articles_usecase.dart
Labels: Mobile, group 2, AAiT

#160 feat(AAiT-mobile-2): Add Article Bloc
  aait/mobile/group-2/blog_app/lib/features/article/domain/usecases/usecases.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_event.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_state.dart
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#165 feat(aait-mobile-g2): implement data layer for authentication feature
  aait/mobile/group-2/blog_app/lib/core/constants/constants.dart
  aait/mobile/group-2/blog_app/lib/core/error/exception.dart
  aait/mobile/group-2/blog_app/lib/core/error/failure.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/local_data_source.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/local_data_source_impl.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/remote_data_source.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/remote_data_source_impl.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/models/authenticated_user_info_model.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/models/authentication_model.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/models/login_model.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/models/sign_up_model.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/repositories/auth_repository_impl.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/domain/entities/authenticated_user_info.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/domain/entities/authentication_entity.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/domain/entities/login_entity.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/domain/repositories/auth_repo.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/domain/use_cases/auth_use_case.dart
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#155 Asnake.get article
  aastu/mobile/group-3/blog_application_aastu_grp3/assets/fonts/Poppins-Bold.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/assets/fonts/Poppins-Italic.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/assets/fonts/Poppins-Light.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/assets/fonts/Poppins-Regular.ttf
  aastu/mobile/group-3/blog_application_aastu_grp3/assets/images/a2sv_blue_2.png
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/main.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/pubspec.yaml
Labels: Mobile, AASTU

#175 feat(AAiT-mobile-2): Add Dependency Injection
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/local/local.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/remote/remote.dart
  aait/mobile/group-2/blog_app/lib/injection_container.dart
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#183 feat(aastu.web.g1) : BlogList page UI
  aastu/web/group-1/a2sv-blogs/public/images/blogs.png
  aastu/web/group-1/a2sv-blogs/src/app/blogs/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogCard.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/PaginationLinks.tsx
Labels: Urgent, web, AASTU, group 1

#205 feat(aastu.web.g1) : Blog Page api fetch fixed
  aastu/web/group-1/a2sv-blogs/src/app/(default)/blogs/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogCard.tsx
Labels: Urgent, web, AASTU, group 1

#210 Aastu.web.g2.naol tamrat.loading page
  aastu/web/group-2/app/blog/page.tsx
  aastu/web/group-2/app/blog/singleBlog/[id]/layout.tsx
  aastu/web/group-2/app/blog/singleBlog/[id]/page.tsx
  aastu/web/group-2/app/components/SingleBlogCard.tsx
  aastu/web/group-2/app/components/blog/SingleBlogCard.tsx
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/app/components/loading.tsx
  aastu/web/group-2/assets/images/arrowLeft.svg
  aastu/web/group-2/lib/redux/slices/blogsApi.ts
Labels: web, AASTU, group 2

#209 feat(aastu-web-g1): Single blog
  aastu/web/group-1/a2sv-blogs/src/app/(default)/blogs/[id]/page.tsx
Labels: web, AASTU, group 1

#217 Feat(aastu-web-g2): Add blog feature
  aastu/web/group-2/app/blog/add-blog/page.tsx
  aastu/web/group-2/app/components/add-blog/TextEditor.tsx
  aastu/web/group-2/package-lock.json
  aastu/web/group-2/package.json
Labels: web, AASTU, group 2

#222 feat(AAiT-mobile-2): Add Article Create/Update and Detail Screen
  aait/mobile/group-2/blog_app/assets/fonts/poppins/Poppins-Bold.ttf
  aait/mobile/group-2/blog_app/assets/fonts/poppins/Poppins-ExtraLight.ttf
  aait/mobile/group-2/blog_app/assets/fonts/poppins/Poppins-Light.ttf
  aait/mobile/group-2/blog_app/assets/fonts/poppins/Poppins-Medium.ttf
  aait/mobile/group-2/blog_app/assets/fonts/poppins/Poppins-Regular.ttf
  aait/mobile/group-2/blog_app/assets/fonts/poppins/Poppins-SemiBold.ttf
  aait/mobile/group-2/blog_app/lib/core/presentation/router/router.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/router/routes.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/theme/app_colors.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/theme/app_theme.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_form_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/screens.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_content.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_image.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/author_card.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/custom_chip.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/custom_text_field.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/gradient_scroll_view.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/like_button.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/multiline_text_field.dart
  aait/mobile/group-2/blog_app/lib/main.dart
  aait/mobile/group-2/blog_app/macos/Flutter/GeneratedPluginRegistrant.swift
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#229 feat(aastu.web):Homepage-stories-responsivness
  aastu/web/group-1/a2sv-blogs/src/app/(default)/blogs/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/(default)/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogCard.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/PaginationLinks.tsx
  aastu/web/group-1/a2sv-blogs/src/components/common/NavBar.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/InterviewPartners.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/SuccessStoryCard.tsx
Labels: Urgent, web, AASTU, group 1

#224 feat(aait-mobile-g2): implement bloc for authentication feature
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/remote_data_source.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/remote_data_source_impl.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/models/authenticated_user_info_model.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/domain/entities/authenticated_user_info.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/presentation/bloc/.gitkeep
  aait/mobile/group-2/blog_app/lib/features/authentication/presentation/bloc/auth_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/presentation/bloc/auth_event.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/presentation/bloc/auth_state.dart
Labels: Mobile, group 2, AAiT

#226 feat(AAiT.mob.g2): add user bloc
  aait/mobile/group-2/blog_app/lib/features/user/presentation/bloc/user_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/bloc/user_event.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/bloc/user_state.dart
Labels: Mobile, group 2, AAiT

#174 feat(AAiT-web_g3): add login and register page
  aait/web/group-3/starter_project_group3/app/login/page.tsx
  aait/web/group-3/starter_project_group3/app/register/page.tsx
Labels: web, group 3, AAiT

#227 feat(aait-backend-2b.authentication): Add DTOs, Mocks for tesing and Contracts to set up the feature
  aait/backend/group-2B/Application.Tests/Application.Tests.csproj
  aait/backend/group-2B/Application.Tests/Mocks/Persistence/MockUnitOfWork.cs
  aait/backend/group-2B/Application.Tests/Mocks/Persistence/MockUserRepository.cs
  aait/backend/group-2B/Application/Contracts/Infrastructure/IDateTimeProvider.cs
  aait/backend/group-2B/Application/Contracts/Infrastructure/IJwtGenerator.cs
  aait/backend/group-2B/Application/Contracts/Infrastructure/IPasswordHasher.cs
  aait/backend/group-2B/Application/Contracts/Persistence/IUserRepository.cs
  aait/backend/group-2B/Application/DTOs/Authentication/IUserDto.cs
  aait/backend/group-2B/Application/DTOs/Authentication/LoggedInUserDto.cs
  aait/backend/group-2B/Application/DTOs/Authentication/LoginUserDto.cs
  aait/backend/group-2B/Application/DTOs/Authentication/RegisterUserDto.cs
  aait/backend/group-2B/Application/DTOs/Authentication/UserDto.cs
  aait/backend/group-2B/Application/DTOs/Authentication/Validators/LoginUserDtoValidator.cs
  aait/backend/group-2B/Application/DTOs/Authentication/Validators/RegisterUserDtoValidator.cs
  aait/backend/group-2B/Application/DTOs/Authentication/Validators/UserDtoValidator.cs
Labels: backend, AAiT, group 2b

#243 feat(AAiT-backend-1B) : add notifications for likes and comment creation
  aait/backend/group-1B/Application/Contracts/Persistence/IPostLikesRepository.cs
  aait/backend/group-1B/Application/Features/Comments/Handlers/Commands/CreateCommentRequestHandler.cs
  aait/backend/group-1B/Application/Features/PostLikes/Handlers/Commands/ChangeLikeRequestHandler.cs
  aait/backend/group-1B/Application/Features/Posts/Handlers/Commands/UpdatePostRequestHandler.cs
  aait/backend/group-1B/Persistence/Repositories/PostLikesRepository.cs
  aait/backend/group-1B/Persistence/SocialSyncDbContext.cs
  aait/backend/group-1B/WebApi/Controllers/CommentsController.cs
  aait/backend/group-1B/WebApi/Controllers/NotificationsController.cs
  aait/backend/group-1B/WebApi/Controllers/PostsController.cs
Labels: enhancement, backend, AAiT, group 1b

#187 feat(AAiT-web_g3): pofile pages added
  aait/web/group-3/starter_project_group3/app/profile/accountsetting/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/personalinformation/page.tsx
  aait/web/group-3/starter_project_group3/components/blog/SmallBlogCard.tsx
  aait/web/group-3/starter_project_group3/components/footer/Footer.tsx
Labels: web, group 3, AAiT

#259 fix(aastu.web.g2):fix_header
  aastu/web/group-2/app/blog/page.tsx
  aastu/web/group-2/app/components/blog/SingleBlogCard.tsx
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/app/components/home/LandingSection.tsx
  aastu/web/group-2/app/components/home/ProfileDropDown.tsx
  aastu/web/group-2/app/global-error.tsx
  aastu/web/group-2/app/hooks/useClickOutside.tsx
  aastu/web/group-2/app/login/page.tsx
  aastu/web/group-2/lib/redux/slices/blogsApi.ts
  aastu/web/group-2/lib/redux/slices/usersApi.ts
Labels: web, AASTU, group 2

#240 fixed the issues mentioned in the previous pr
  aait/backend/group-2B/Application/Common/Exceptions/.gitkeep
  aait/backend/group-2B/Application/Common/Exceptions/BadRequestException.cs
  aait/backend/group-2B/Application/Common/Exceptions/NotFoundException.cs
  aait/backend/group-2B/Application/Common/Exceptions/ValidationException.cs
  aait/backend/group-2B/Application/Common/Responses/.gitkeep
  aait/backend/group-2B/Application/Common/Responses/BaseCommandResponse.cs
  aait/backend/group-2B/Application/Common/Responses/CommonResponse.cs
  aait/backend/group-2B/Application/Contracts/Persistence/IInteractionRepository.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/CommentDTOs/DeleteCommentDTO.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/CommentDTOs/UpdateCommentDTO.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/CommentDTOs/Validator/DeleteCommentDTOValidator.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/CommentDTOs/Validator/UpdateCommentDTOValidator.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/InteractionDto.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/Validator/CommentDtoValidator.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/Validator/likeDTOValidator.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Commands/CreateCommentInteractionCommandHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Commands/DeleteCommentInteractionCommandHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Commands/LikeUnlikePostInteractionCommandHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Commands/UpdateCommentInteractionCommandHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Queries/GetAllCommentInteractionRequestHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Queries/GetInteractionRequestHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Commands/CreateCommentInteractionCommand.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Commands/DeleteCommentInteractionCommand.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Commands/LikeUnlikePostInteractionCommand.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Commands/UpdateCommentInteractionCommand.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Queries/GetAllCommentInteractionRequest.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Queries/GetInteractionRequest.cs
  aait/backend/group-2B/Persistence/Repositories/InteractionRepository.cs
  aait/backend/group-2B/WebApi/Controllers/InteractionsController.cs
Labels: backend, AAiT, group 2b

#274 feat(AAiT-mobile-2): User Profile UI
  aait/mobile/group-2/blog_app/lib/features/user/presentation/screens/user_profile.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/article_grid_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/article_list_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/gradient_at_bottom.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/posts_bar.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/profile_bar.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/show_posts_and_bookmarks.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/show_posts_or_bookmarks_button.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/single_article_post_grid_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/single_article_post_list_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_bio.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_profile_details.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_profile_info.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_profile_photo.dart
Labels: Mobile, group 2, AAiT

#279 feat(asstu.web.g1): Single blog responsiveness
  aastu/web/group-1/a2sv-blogs/src/app/(default)/blogs/[id]/page.tsx
Labels: web, AASTU, group 1, Fix PR title format

#278 feat(AAiT-mobile-2): Add Get Tag Use case and Repository
  aait/mobile/group-2/blog_app/lib/core/constants/constants.dart
  aait/mobile/group-2/blog_app/lib/core/network/custom_client.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/local/local_datasource.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/local/local_datasource_impl.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/remote/remote_datasource.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/remote/remote_datasource_impl.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/models/article_mapper.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/models/article_model.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/models/dto/create_article_dto.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/repositories/article_repository_impl.dart
  aait/mobile/group-2/blog_app/lib/features/article/domain/repositories/article_repository.dart
  aait/mobile/group-2/blog_app/lib/features/article/domain/usecases/get_tags.dart
  aait/mobile/group-2/blog_app/lib/features/article/domain/usecases/usecases.dart
Labels: Mobile, group 2, AAiT

#282 Aastu.web.g1.yoseph.shemeles
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogCard.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/common/NavBar.tsx
  aastu/web/group-1/a2sv-blogs/src/components/common/ProfileAvatar.tsx
Labels: Fix PR title format

#284 fix(aastu.web.g1): fix on logout functionality
  aastu/web/group-1/a2sv-blogs/package-lock.json
  aastu/web/group-1/a2sv-blogs/package.json
  aastu/web/group-1/a2sv-blogs/src/hooks/useAuth.ts
  aastu/web/group-1/a2sv-blogs/src/middleware.ts
Labels: Fix PR title format

#266 feat(AAiT-web_g3): Add header component
  aait/web/group-3/starter_project_group3/app/globals.css
  aait/web/group-3/starter_project_group3/app/layout.tsx
  aait/web/group-3/starter_project_group3/components/header/Header.tsx
  aait/web/group-3/starter_project_group3/components/header/NavBar.tsx
  aait/web/group-3/starter_project_group3/components/header/NavBarMobile.tsx
  aait/web/group-3/starter_project_group3/components/header/NavLink.tsx
  aait/web/group-3/starter_project_group3/public/assets/A2SV_logo.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_africa.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_arrow.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_bubbles.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_elipse_internship.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_message.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_people.png
  aait/web/group-3/starter_project_group3/public/assets/landing_page_projects.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_stories.svg
  aait/web/group-3/starter_project_group3/public/assets/landing_page_training.svg
  aait/web/group-3/starter_project_group3/tailwind.config.ts
  aait/web/group-3/starter_project_group3/types/nav/Nav.ts
Labels: Fix PR title format

#285 fix(AAiT-mobile-3): update domain layer
  aait/mobile/group-3/blog_app/assets/images/article-image.jpg
  aait/mobile/group-3/blog_app/assets/images/profpic.jpg
  aait/mobile/group-3/blog_app/lib/core/error/exception.dart
  aait/mobile/group-3/blog_app/lib/core/error/failure.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/entity/article.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/entity/user.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/repository/article_repository.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/use_case/get_article.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/use_case/get_article_by_id.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/use_case/update_article.dart
  aait/mobile/group-3/blog_app/pubspec.yaml
  aait/mobile/group-3/blog_app/test/features/article/domain/use_case/get_article_test.dart
  aait/mobile/group-3/blog_app/test/features/article/domain/use_case/update_article_test.dart
Labels: Mobile, group 3, AAiT

#280 Aait.bac.1b.sahib.semahegn.follow.unfollow.feature
  aait/backend/group-1B/Application.Tests/Application.Tests.csproj
  aait/backend/group-1B/Application.Tests/Features/Users/Command/FollowUserRequestHandlerUnitTest.cs
  aait/backend/group-1B/Application.Tests/Features/Users/Command/UnFollowUserRequestHandlerUnitTest.cs
  aait/backend/group-1B/Application.Tests/Features/Users/Command/UpdateUserRequestHandlerUnitTest.cs
  aait/backend/group-1B/Application.Tests/Features/Users/Queries/GetFollowersRequestHandlerUnitTest.cs
  aait/backend/group-1B/Application.Tests/Features/Users/Queries/GetUserDetailHandlerUnitTest.cs
  aait/backend/group-1B/Application.Tests/Mocks/MockUserRepository.cs
  aait/backend/group-1B/Application/Contracts/Persistence/IUserRepository.cs
  aait/backend/group-1B/Application/DTOS/Users/FollowDto.cs
  aait/backend/group-1B/Application/DTOS/Users/UpdateUserDto.cs
  aait/backend/group-1B/Application/DTOS/Users/UserDetail.cs
  aait/backend/group-1B/Application/DTOS/Users/UserListDto.cs
  aait/backend/group-1B/Application/DTOS/Users/Validation/UpdateUserDtoValidator.cs
  aait/backend/group-1B/Application/Features/Posts/Handlers/Queries/GetPostsByUserIdRequestHandler.cs
  aait/backend/group-1B/Application/Features/Users/Handler/Command/FollowUserRequestHandler.cs
  aait/backend/group-1B/Application/Features/Users/Handler/Command/UnfollowUserRequestHandler.cs
  aait/backend/group-1B/Application/Features/Users/Handler/Command/UpdateUserRequestHandler.cs
  aait/backend/group-1B/Application/Features/Users/Handler/Queries/GetUserDetailRequestHandler.cs
  aait/backend/group-1B/Application/Features/Users/Handler/Queries/GetUsersRequestHandler.cs
  aait/backend/group-1B/Application/Features/Users/Request/GetUserDetailRequest.cs
  aait/backend/group-1B/Application/Features/Users/Request/GetUsersRequest.cs
  aait/backend/group-1B/Application/Features/Users/Request/command/FollowUserRequest.cs
  aait/backend/group-1B/Application/Features/Users/Request/command/UnfollowUserRequest.cs
  aait/backend/group-1B/Application/Features/Users/Request/command/UpdateUserRequest.cs
  aait/backend/group-1B/Application/Profiles/MappingProfile.cs
  aait/backend/group-1B/Domain/Entities/User.cs
  aait/backend/group-1B/Persistence/Persistence.csproj
  aait/backend/group-1B/Persistence/Repositories/UserRepository.cs
  aait/backend/group-1B/WebApi/Controllers/UserController.cs
  aait/backend/group-1B/WebApi/appsettings.json
Labels: Fix PR title format

#275 Aait.web.g3.surafel sentayehu.about us page
  aait/web/group-3/starter_project_group3/app/about-us/page.tsx
  aait/web/group-3/starter_project_group3/app/globals.css
  aait/web/group-3/starter_project_group3/components/about-us/HeadLineSection.tsx
  aait/web/group-3/starter_project_group3/components/about-us/ProblemSection.tsx
  aait/web/group-3/starter_project_group3/components/about-us/SessionSection.tsx
  aait/web/group-3/starter_project_group3/components/about-us/SocialProjectSection.tsx
  aait/web/group-3/starter_project_group3/components/about-us/SolvingSection.tsx
  aait/web/group-3/starter_project_group3/data/about-us/About-Us.ts
  aait/web/group-3/starter_project_group3/public/assets/about_us_1-1s.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_Beepath.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_africa.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_development.png
  aait/web/group-3/starter_project_group3/public/assets/about_us_education.png
  aait/web/group-3/starter_project_group3/public/assets/about_us_github.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_hakimhub.png
  aait/web/group-3/starter_project_group3/public/assets/about_us_lamp.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_link.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_ox.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_problem.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_puzzle.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_question.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_rocket.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_tag.svg
  aait/web/group-3/starter_project_group3/public/assets/about_us_tracksys.png
  aait/web/group-3/starter_project_group3/public/assets/about_us_triangle.svg
  aait/web/group-3/starter_project_group3/tailwind.config.ts
Labels: Fix PR title format

#264 feat(AAiT-web_g4): Add Home Page
  aait/web/group-3/starter_project_group3/app/globals.css
  aait/web/group-3/starter_project_group3/app/page.tsx
  aait/web/group-3/starter_project_group3/components/home/HeadLineSection.tsx
  aait/web/group-3/starter_project_group3/components/home/ProgramSection.tsx
  aait/web/group-3/starter_project_group3/components/home/RateSection.tsx
  aait/web/group-3/starter_project_group3/components/home/StorySection.tsx
  aait/web/group-3/starter_project_group3/components/home/TeamSection.tsx
  aait/web/group-3/starter_project_group3/tailwind.config.ts
  aait/web/group-3/starter_project_group3/types/home/TrainingPrograms.ts
Labels: web, group 3, AAiT, Fix PR title format

#296 fix(aastu-web-g1): fix nav error
  aastu/web/group-1/a2sv-blogs/src/app/(default)/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/(default)/profile/info/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/common/ProfileAvatar.tsx
Labels: Fix PR title format

#299 fix(AASTU-web-G2): Fix my blog
  aastu/web/group-2/app/components/profile/MyblogCard.tsx
  aastu/web/group-2/app/page.tsx
Labels: Fix PR title format

#159 feat(AAiT-web-2): Add success-stories
  aait/web/group-2/app/globals.css
  aait/web/group-2/app/layout.tsx
  aait/web/group-2/app/success-stories/page.tsx
  aait/web/group-2/components/footer/Footer.tsx
  aait/web/group-2/components/single-success-story/SingleSuccessStory.tsx
  aait/web/group-2/package-lock.json
  aait/web/group-2/package.json
  aait/web/group-2/public/images/footer/a2sv-logo.png
  aait/web/group-2/public/images/footer/facebook-logo.png
  aait/web/group-2/public/images/footer/linkedin-logo.png
  aait/web/group-2/public/images/footer/telegram-logo.png
  aait/web/group-2/public/images/footer/twitter-logo.png
  aait/web/group-2/public/images/success-stories/databricks-logo.png
  aait/web/group-2/public/images/success-stories/google-logo.png
  aait/web/group-2/public/images/success-stories/inst-deep-logo.png
  aait/web/group-2/public/images/success-stories/linkedin-logo.png
  aait/web/group-2/public/images/success-stories/meta-logo.png
  aait/web/group-2/public/images/success-stories/palantir-logo.png
  aait/web/group-2/store/features/success-stories/index.ts
  aait/web/group-2/store/index.ts
  aait/web/group-2/store/indext.ts
  aait/web/group-2/tailwind.config.ts
  aait/web/group-2/types/successStories/index.ts
Labels: web, group 2, AAiT

#291 fix(AAiT-mobile-3): merge fix
  aait/mobile/group-3/blog_app/lib/features/auth/data/data_sources/remote_data_source.dart
  aait/mobile/group-3/blog_app/lib/features/auth/data/repository/auth_repository_impl.dart
  aait/mobile/group-3/blog_app/lib/features/profile/data/data_sources/profile_remote_data_source.dart
Labels: Mobile, group 3, AAiT

#268 feat(AAiT-web_g3): Add teams page
  aait/web/group-3/starter_project_group3/app/layout.tsx
  aait/web/group-3/starter_project_group3/app/teams/page.tsx
  aait/web/group-3/starter_project_group3/components/team/HeadLineSection.tsx
  aait/web/group-3/starter_project_group3/components/team/Pagination.tsx
  aait/web/group-3/starter_project_group3/data/team/Company.ts
  aait/web/group-3/starter_project_group3/data/team/Teams.ts
  aait/web/group-3/starter_project_group3/public/assets/Teams_team_work.svg
  aait/web/group-3/starter_project_group3/public/assets/Teams_user_profile.png
  aait/web/group-3/starter_project_group3/public/assets/teams_databricks.svg
  aait/web/group-3/starter_project_group3/public/assets/teams_google.svg
  aait/web/group-3/starter_project_group3/public/assets/teams_instaDeep.svg
  aait/web/group-3/starter_project_group3/public/assets/teams_linkedin.svg
  aait/web/group-3/starter_project_group3/public/assets/teams_meta.svg
  aait/web/group-3/starter_project_group3/public/assets/teams_palantir.svg
  aait/web/group-3/starter_project_group3/tailwind.config.ts
Labels: Fix PR title format

#295 feat(AAiT-mobile-2): Add Bloc to Create Article Screen
  aait/mobile/group-2/blog_app/android/app/src/main/AndroidManifest.xml
  aait/mobile/group-2/blog_app/lib/bloc_observer.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/router/router.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/theme/app_colors.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_event.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_state.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/tag_selector_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/tag_selector_event.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/tag_selector_state.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_form_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/create_article_form.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/custom_chip.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/custom_text_field.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/snackbar.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/tag_selector.dart
  aait/mobile/group-2/blog_app/lib/injection_container.dart
  aait/mobile/group-2/blog_app/lib/main.dart
  aait/mobile/group-2/blog_app/linux/flutter/generated_plugin_registrant.cc
  aait/mobile/group-2/blog_app/linux/flutter/generated_plugins.cmake
  aait/mobile/group-2/blog_app/macos/Flutter/GeneratedPluginRegistrant.swift
  aait/mobile/group-2/blog_app/pubspec.yaml
  aait/mobile/group-2/blog_app/windows/flutter/generated_plugin_registrant.cc
  aait/mobile/group-2/blog_app/windows/flutter/generated_plugins.cmake
Labels: Mobile, group 2, AAiT

#293 Ketema.homepage
  aait/mobile/group-3/blog_app/fonts/Poppins-Light.ttf
  aait/mobile/group-3/blog_app/fonts/Poppins-Medium.ttf
  aait/mobile/group-3/blog_app/fonts/Poppins-Regular.ttf
  aait/mobile/group-3/blog_app/fonts/Poppins-SemiBold.ttf
  aait/mobile/group-3/blog_app/fonts/Urbanist-Regular.ttf
  aait/mobile/group-3/blog_app/images/avator.jpg
  aait/mobile/group-3/blog_app/lib/core/util/theme_utils.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/screen/home_screen.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/blog_card_widget.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/header_widget.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/tags_widget.dart
Labels: Fix PR title format

#208 feat(AAiT-backend-g2a): Custom Responses and Exceptions
  aait/backend/group-2A/Application.Tests/Application.Tests.csproj
  aait/backend/group-2A/Application/Application.csproj
  aait/backend/group-2A/Application/Contracts/Persistance/IUnitOfWork.cs
  aait/backend/group-2A/Application/Exceptions/BadRequestException.cs
  aait/backend/group-2A/Application/Exceptions/NotFoundException.cs
  aait/backend/group-2A/Application/Exceptions/ServerErrorException.cs
  aait/backend/group-2A/Application/Features/Comment/Handlers/Commands/CreateCommentCommandHandler.cs
  aait/backend/group-2A/Application/Features/Comment/Handlers/Commands/DeleteCommentCommandHandler.cs
  aait/backend/group-2A/Application/Features/Comment/Handlers/Commands/UpdateCommentCommandHandler.cs
  aait/backend/group-2A/Application/Features/Comment/Handlers/Queries/GetCommentRequestHandler.cs
  aait/backend/group-2A/Application/Features/Comment/Handlers/Queries/GetCommentsByPostIdRequestHandler.cs
  aait/backend/group-2A/Application/Features/Comment/Requests/Commands/CreateCommentCommand.cs
  aait/backend/group-2A/Application/Features/Comment/Requests/Commands/DeleteCommentCommand.cs
  aait/backend/group-2A/Application/Features/Comment/Requests/Commands/UpdateCommentCommand.cs
  aait/backend/group-2A/Application/Features/Comment/Requests/Queries/GetCommentRequest.cs
  aait/backend/group-2A/Application/Features/Comment/Requests/Queries/GetCommentsByPostIdRequest.cs
  aait/backend/group-2A/Application/Features/Follow/Handlers/Command/CreateFollowCommandHandler.cs
  aait/backend/group-2A/Application/Features/Follow/Handlers/Command/DeleteFollowCommandHandler.cs
  aait/backend/group-2A/Application/Features/Follow/Handlers/Queries/GetFollowerRequestHandler.cs
  aait/backend/group-2A/Application/Features/Follow/Handlers/Queries/GetFollowingRequestHandler.cs
  aait/backend/group-2A/Application/Features/Follow/Request/Command/CreateFollowCommand.cs
  aait/backend/group-2A/Application/Features/Follow/Request/Command/DeleteFollowCommand.cs
  aait/backend/group-2A/Application/Features/Follow/Request/Queries/GetFollowerRequest.cs
  aait/backend/group-2A/Application/Features/Follow/Request/Queries/GetFollowingRequest.cs
  aait/backend/group-2A/Application/Features/Like/Handlers/Commands/CreateLikeCommandHandler.cs
  aait/backend/group-2A/Application/Features/Like/Handlers/Commands/DeleteLikeCommandHandler.cs
  aait/backend/group-2A/Application/Features/Like/Handlers/Queries/GetIsLikedQueryHander.cs
  aait/backend/group-2A/Application/Features/Like/Handlers/Queries/GetPostLikesQueryHandler.cs
  aait/backend/group-2A/Application/Features/Like/Request/Commands/CreateLikeCommand.cs
  aait/backend/group-2A/Application/Features/Like/Request/Commands/DeleteLikeCommand.cs
  aait/backend/group-2A/Application/Features/Like/Request/Queries/GetIsLikedQuery.cs
  aait/backend/group-2A/Application/Features/Like/Request/Queries/GetPostLikesQuery.cs
  aait/backend/group-2A/Application/Features/Post/Handlers/Command/CreatePostCommandHandler.cs
  aait/backend/group-2A/Application/Features/Post/Handlers/Command/DeletePostCommandHandler.cs
  aait/backend/group-2A/Application/Features/Post/Handlers/Command/UpdatePostCommandHandler.cs
  aait/backend/group-2A/Application/Features/Post/Handlers/Queries/GetByContenetRequestHandler.cs
  aait/backend/group-2A/Application/Features/Post/Handlers/Queries/GetByTagRequestHandler.cs
  aait/backend/group-2A/Application/Features/Post/Handlers/Queries/GetFollowingPostRequestHandler.cs
  aait/backend/group-2A/Application/Features/Post/Handlers/Queries/GetUserPostRequestHandler.cs
  aait/backend/group-2A/Application/Features/Post/Request/Commands/CreatePostCommand.cs
  aait/backend/group-2A/Application/Features/Post/Request/Commands/DeletePostCommand.cs
  aait/backend/group-2A/Application/Features/Post/Request/Commands/UpdatePostCommand.cs
  aait/backend/group-2A/Application/Features/Post/Request/Queries/GetByContenetRequest.cs
  aait/backend/group-2A/Application/Features/Post/Request/Queries/GetByTagRequest.cs
  aait/backend/group-2A/Application/Features/Post/Request/Queries/GetFollowingPostRequest.cs
  aait/backend/group-2A/Application/Features/Post/Request/Queries/GetUserPostRequest.cs
  aait/backend/group-2A/Application/Responses/BaseCommandResponses.cs
  aait/backend/group-2A/Domain/Common/BaseEntity.cs
  aait/backend/group-2A/Domain/Domain.csproj
  aait/backend/group-2A/Domain/Entities/Comment.cs
  aait/backend/group-2A/Domain/Entities/Post.cs
  aait/backend/group-2A/Domain/Entities/User.cs
  aait/backend/group-2A/Infrastructure/Infrastructure.csproj
  aait/backend/group-2A/Persistence/Persistence.csproj
  aait/backend/group-2A/Persistence/Repositories/UnitOfWork.cs
  aait/backend/group-2A/WebApi/Controllers/CommentController.cs
  aait/backend/group-2A/WebApi/Controllers/FollowController.cs
  aait/backend/group-2A/WebApi/Middleware/ResponseMiddleware.cs
  aait/backend/group-2A/WebApi/WebApi.csproj
Labels: Fix PR title format

#303 Fix(aastu-web-g2): final change to add blogs
  aastu/web/group-2/app/blog/add-blog/page.tsx
Labels: Fix PR title format

#302 fix(AASTU-web-G2): Add quality images
  aastu/web/group-2/app/components/home/BuildBetterSection.tsx
  aastu/web/group-2/app/components/home/ImpactStoriesSection.tsx
  aastu/web/group-2/app/components/home/SuccsessRateSection.tsx
  aastu/web/group-2/app/donate/page.tsx
  aastu/web/group-2/app/teams/page.tsx
  aastu/web/group-2/assets/images/People sitting on bench.webp
  aastu/web/group-2/assets/images/internships.png
  aastu/web/group-2/assets/images/profiles/Abel Getahun.png
  aastu/web/group-2/assets/images/profiles/Aklile Seyoum.png
  aastu/web/group-2/assets/images/profiles/Mintesnot Markos.png
  aastu/web/group-2/assets/images/profiles/Naol Tamrat.png
  aastu/web/group-2/assets/images/profiles/Natanim Ashenafi.png
  aastu/web/group-2/assets/images/profiles/Solomon Abate.png
  aastu/web/group-2/assets/images/profiles/Wubshet Zeleke.png
  aastu/web/group-2/assets/images/social projects.png
  aastu/web/group-2/assets/images/training.png
Labels: Fix PR title format

#305 Naol.auth domain layer
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/core/usecases/user_login_usecase.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/core/usecases/user_register_usecase.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/data/datasource/auth_local_data_source.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/data/datasource/auth_remote_data_source.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/data/model/user_data_model.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/data/repository/auth_repository_impl.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/domain/entity/Token.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/domain/entity/User.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/domain/entity/UserData.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/domain/repository/auth_repository.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/domain/usecases/login_use_case.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/domain/usecases/register_use_case.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/auth/auth_bloc_bloc.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/auth/auth_bloc_event.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/auth/auth_bloc_state.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/bloc/register_bloc.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/bloc/register_event.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/bloc/register_state.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/login/login_bloc_bloc.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/login/login_bloc_event.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/bloc/login/login_bloc_state.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/screens.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/screens/login_screen.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/features/authentication/presentation/screens/sign_up_screen.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/lib/main.dart
  aastu/mobile/group-3/blog_application_aastu_grp3/linux/flutter/generated_plugin_registrant.cc
  aastu/mobile/group-3/blog_application_aastu_grp3/linux/flutter/generated_plugins.cmake
  aastu/mobile/group-3/blog_application_aastu_grp3/macos/Flutter/GeneratedPluginRegistrant.swift
  aastu/mobile/group-3/blog_application_aastu_grp3/pubspec.lock
  aastu/mobile/group-3/blog_application_aastu_grp3/pubspec.yaml
  aastu/mobile/group-3/blog_application_aastu_grp3/windows/flutter/generated_plugin_registrant.cc
  aastu/mobile/group-3/blog_application_aastu_grp3/windows/flutter/generated_plugins.cmake
Labels: Mobile, AASTU, Fix PR title format

#306 feat(aastu.web.g2):Redux Fix and Bug Fix
  aastu/web/group-2/app/blog/page.tsx
  aastu/web/group-2/app/components/Pagination.tsx
  aastu/web/group-2/app/components/blog/SingleBlogCard.tsx
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/app/components/home/LandingSection.tsx
  aastu/web/group-2/app/loading.tsx
  aastu/web/group-2/app/login/page.tsx
  aastu/web/group-2/app/profile/loading.tsx
  aastu/web/group-2/app/profile/myblogs/page.tsx
  aastu/web/group-2/lib/redux/slices/loginSlice.ts
  aastu/web/group-2/lib/redux/store.ts
  aastu/web/group-2/lib/types.ts
Labels: Fix PR title format

#310 fix(aastu.web.g2):add blog button fix
  aastu/web/group-2/app/blog/add-blog/page.tsx
Labels: Fix PR title format

#312 feat(AAiT-web_g3): login and register integraton with navbar
  aait/web/group-3/starter_project_group3/app/login/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/accountsetting/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/myblogs/page.tsx
  aait/web/group-3/starter_project_group3/app/register/page.tsx
  aait/web/group-3/starter_project_group3/components/blog/SmallBlogCard.tsx
  aait/web/group-3/starter_project_group3/components/header/Header.tsx
  aait/web/group-3/starter_project_group3/components/header/NavBar.tsx
  aait/web/group-3/starter_project_group3/components/header/NavBarMobile.tsx
  aait/web/group-3/starter_project_group3/next.config.js
  aait/web/group-3/starter_project_group3/store/features/auth/index.ts
  aait/web/group-3/starter_project_group3/types/nav/Nav.ts
Labels: Fix PR title format

#316 fix(AASTU-web-G2): Fix single blog page image size
  aastu/web/group-2/app/blog/singleBlog/[id]/page.tsx
  aastu/web/group-2/app/components/profile/MyblogCard.tsx
Labels: Fix PR title format

#323 Update CODEOWNERS
  CODEOWNERS
Labels: Fix PR title format

#276 feat(AAiT-mobile-2): add on boarding screen
  aait/mobile/group-2/blog_app/assets/images/A2sv_logo.png
  aait/mobile/group-2/blog_app/assets/images/IMAGETILES.png
  aait/mobile/group-2/blog_app/assets/images/Path_1.png
  aait/mobile/group-2/blog_app/assets/images/Path_2.png
  aait/mobile/group-2/blog_app/assets/images/Path_3.png
  aait/mobile/group-2/blog_app/lib/core/presentation/content/on_boarding_data.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/router/router.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/router/routes.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/theme/app_colors.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/theme/app_theme.dart
  aait/mobile/group-2/blog_app/lib/features/onboard/data/.gitkeep
  aait/mobile/group-2/blog_app/lib/features/onboard/domain/.gitkeep
  aait/mobile/group-2/blog_app/lib/features/onboard/presentation/.gitkeep
  aait/mobile/group-2/blog_app/lib/features/onboard/presentation/screens/login_screen.dart
  aait/mobile/group-2/blog_app/lib/features/onboard/presentation/screens/on_boarding.dart
  aait/mobile/group-2/blog_app/lib/features/onboard/presentation/screens/splash_screen.dart
  aait/mobile/group-2/blog_app/lib/features/onboard/presentation/widgets/on_boarding_widget.dart
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#321 feat(aait-web-1): Add the footer
  aait/web/group-1/components/layout/Footer.tsx
  aait/web/group-1/public/images/logo.png
  aait/web/group-1/public/images/partners/Databricks.png
  aait/web/group-1/public/images/partners/Google.png
  aait/web/group-1/public/images/partners/InstaDeep.png
  aait/web/group-1/public/images/partners/Linkedin.png
  aait/web/group-1/public/images/partners/Meta.png
  aait/web/group-1/public/images/partners/Palantir.png
  aait/web/group-1/public/images/rafiki.png
  aait/web/group-1/public/images/social-icons/facebook.png
  aait/web/group-1/public/images/social-icons/instagram.png
  aait/web/group-1/public/images/social-icons/linkedin.png
  aait/web/group-1/public/images/social-icons/twitter.png
  aait/web/group-1/public/images/social-icons/youtube.png
  aait/web/group-1/public/images/success-social-icons/facebook.png
  aait/web/group-1/public/images/success-social-icons/linkedin.png
  aait/web/group-1/public/images/success-social-icons/telegram.png
  aait/web/group-1/public/images/success-social-icons/twitter.png
  aait/web/group-1/public/images/success-story/people/biruk.png
  aait/web/group-1/public/images/success-story/people/isaac.png
  aait/web/group-1/public/images/success-story/people/lydia.png
  aait/web/group-1/tailwind.config.ts
Labels: Fix PR title format

#324 feat(AAiT-mobile-2): Add Home Page
  aait/mobile/group-2/blog_app/assets/fonts/OFL.txt
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-Black.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-BlackItalic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-Bold.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-BoldItalic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-ExtraBold.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-ExtraBoldItalic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-ExtraLight.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-ExtraLightItalic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-Italic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-Light.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-LightItalic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-Medium.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-MediumItalic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-Regular.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-SemiBold.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-SemiBoldItalic.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-Thin.ttf
  aait/mobile/group-2/blog_app/assets/fonts/Poppins-ThinItalic.ttf
  aait/mobile/group-2/blog_app/assets/images/article.png
  aait/mobile/group-2/blog_app/assets/images/profile.jpg
  aait/mobile/group-2/blog_app/assets/images/profile.png
  aait/mobile/group-2/blog_app/assets/svg/menu.svg
  aait/mobile/group-2/blog_app/lib/core/presentation/router/router.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/home_page.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/app_bar.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_card.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_info.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_list.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_photo.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/custom_shader.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/loading.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/profile_avatar.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/search_bar.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/tag_display.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/tag_list.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/widgets.dart
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#215 feat (AAiT web-g4): build the homepage
  aait/web/group-4/.gitkeep
  aait/web/group-4/starter-project/.gitignore
  aait/web/group-4/starter-project/app/layout.tsx
  aait/web/group-4/starter-project/app/page.tsx
  aait/web/group-4/starter-project/components/homepage/A2SVProgram.tsx
  aait/web/group-4/starter-project/components/homepage/A2SVPrograms.tsx
  aait/web/group-4/starter-project/components/homepage/BuildBetterSection.tsx
  aait/web/group-4/starter-project/components/homepage/HelpUsSection.tsx
  aait/web/group-4/starter-project/components/homepage/ImpactStoriesSection.tsx
  aait/web/group-4/starter-project/components/homepage/LandingSection.tsx
  aait/web/group-4/starter-project/components/homepage/SuccessRateCard.tsx
  aait/web/group-4/starter-project/components/homepage/SuccessRateSection.tsx
  aait/web/group-4/starter-project/components/layout/Footer.tsx
  aait/web/group-4/starter-project/components/layout/NavMenu.tsx
  aait/web/group-4/starter-project/components/layout/Navbar.tsx
  aait/web/group-4/starter-project/data/homepage.json
  aait/web/group-4/starter-project/package-lock.json
  aait/web/group-4/starter-project/package.json
  aait/web/group-4/starter-project/public/images/common/facebook.png
  aait/web/group-4/starter-project/public/images/common/instagram.png
  aait/web/group-4/starter-project/public/images/common/linkedin.png
  aait/web/group-4/starter-project/public/images/common/logo.png
  aait/web/group-4/starter-project/public/images/common/menubar.png
  aait/web/group-4/starter-project/public/images/common/rafiki.png
  aait/web/group-4/starter-project/public/images/common/twitter.png
  aait/web/group-4/starter-project/public/images/common/youtube.png
  aait/web/group-4/starter-project/public/images/homepage/360.png
  aait/web/group-4/starter-project/public/images/homepage/africa.svg
  aait/web/group-4/starter-project/public/images/homepage/build-better-section-image.png
  aait/web/group-4/starter-project/public/images/homepage/image-collection.png
  aait/web/group-4/starter-project/public/images/homepage/impact-story-gallery.png
  aait/web/group-4/starter-project/public/images/homepage/internship.png
  aait/web/group-4/starter-project/public/images/homepage/message-circle.svg
  aait/web/group-4/starter-project/public/images/homepage/right-arrow.svg
  aait/web/group-4/starter-project/public/images/homepage/social-projects.png
  aait/web/group-4/starter-project/tailwind.config.ts
Labels: web, group 4, AAiT, Fix PR title format

#320 fix(AAiT-mobile-3): update data and domain layer
  aait/mobile/group-3/blog_app/lib/core/util/constants.dart
  aait/mobile/group-3/blog_app/lib/features/article/data/data_sources/article_remote_datasource.dart
  aait/mobile/group-3/blog_app/lib/features/article/data/repository/article_repository_impl.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/repository/article_repository.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/use_case/create_article.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/use_case/update_article.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/bloc/article_bloc.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/bloc/article_event.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/bloc/article_state.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/custom_elevated_button.dart
  aait/mobile/group-3/blog_app/test/features/article/presentation/bloc/article_bloc_test.dart
  aait/mobile/group-3/blog_app/test/features/profile/data/repository/profile_repository_impl_test.dart
Labels: Mobile, group 3, AAiT

#332 feat(AASTU-web-G2): Add dark mode theme
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/lib/useDarkMode.ts
  aastu/web/group-2/tailwind.config.ts
Labels: Fix PR title format

#325 fix(AAiT-backend-2A): Add Response
  aait/backend/group-2A/Application/Features/Comment/Handlers/Commands/CreateCommentCommandHandler.cs
  aait/backend/group-2A/Application/Features/Comment/Handlers/Commands/UpdateCommentCommandHandler.cs
  aait/backend/group-2A/Application/Features/Comment/Requests/Commands/CreateCommentCommand.cs
  aait/backend/group-2A/Application/Features/Comment/Requests/Commands/UpdateCommentCommand.cs
  aait/backend/group-2A/Application/Responses/BaseCommandResponses.cs
  aait/backend/group-2A/Infrastructure/Service/AuthService.cs
  aait/backend/group-2A/WebApi/Controllers/AuthController.cs
  aait/backend/group-2A/WebApi/Controllers/CommentController.cs
  aait/backend/group-2A/WebApi/Controllers/FollowController.cs
  aait/backend/group-2A/WebApi/Controllers/LikeController.cs
  aait/backend/group-2A/WebApi/Controllers/PostController.cs
  aait/backend/group-2A/WebApi/Controllers/UserController.cs
  aait/backend/group-2A/WebApi/Middleware/ResponseHandler.cs
  aait/backend/group-2A/WebApi/Middleware/ResponseMiddleware.cs
  aait/backend/group-2A/WebApi/appsettings.json
Labels: backend, AAiT, group 2a

#333 feat(AAiT-web-2): Add signup and signin
  aait/web/group-2/app/layout.tsx
  aait/web/group-2/app/signin/page.tsx
  aait/web/group-2/app/signup/page.tsx
  aait/web/group-2/package-lock.json
  aait/web/group-2/package.json
  aait/web/group-2/public/images/signup/a2sv-logo.svg
  aait/web/group-2/public/images/signup/person.svg
  aait/web/group-2/store/features/auth/auth-api.ts
  aait/web/group-2/store/features/success-stories/index.ts
  aait/web/group-2/store/index.ts
  aait/web/group-2/types/auth/user.ts
  aait/web/group-2/types/auth/userCredential.ts
  package-lock.json
  package.json
Labels: web, group 2, AAiT

#328 feat(AAiT-mobile-group3) add presentation layer
  aait/mobile/group-3/blog_app/assets/images/a2sv.png
  aait/mobile/group-3/blog_app/lib/blog_app.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/bloc/login_bloc/bloc/login_bloc.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/bloc/login_bloc/bloc/login_event.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/bloc/signup_bloc/bloc/signup_bloc.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/bloc/signup_bloc/bloc/signup_event.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/screen/login_signup_page.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/screen/login_slide.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/screen/signup_slide.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/screen/test.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/test.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/widgets/password_widget.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/widgets/test.dart
  aait/mobile/group-3/blog_app/lib/features/auth/presentation/widgets/text_field_widget.dart
  aait/mobile/group-3/blog_app/lib/injection_container.dart
  aait/mobile/group-3/blog_app/linux/flutter/generated_plugin_registrant.cc
  aait/mobile/group-3/blog_app/linux/flutter/generated_plugins.cmake
  aait/mobile/group-3/blog_app/macos/Flutter/GeneratedPluginRegistrant.swift
  aait/mobile/group-3/blog_app/windows/flutter/generated_plugin_registrant.cc
  aait/mobile/group-3/blog_app/windows/flutter/generated_plugins.cmake
Labels: Fix PR title format

#336 feat(AASTU-web-G2): add dark mode
  aastu/web/group-2/app/blog/singleBlog/[id]/page.tsx
  aastu/web/group-2/app/components/blog/singleBlog.tsx
  aastu/web/group-2/app/components/home/BuildBetterSection.tsx
  aastu/web/group-2/app/components/home/HelpUs.tsx
  aastu/web/group-2/app/components/home/ImpactStoriesSection.tsx
  aastu/web/group-2/app/components/home/LandingSection.tsx
  aastu/web/group-2/app/components/home/SuccsessRateSection.tsx
  aastu/web/group-2/app/components/profile/AccountSettingsSection.tsx
  aastu/web/group-2/app/layout.tsx
  aastu/web/group-2/app/page.tsx
Labels: Fix PR title format

#338 fix(AASTU-web-G2): Add dark mode to footer
  aastu/web/group-2/app/components/footer.tsx
  aastu/web/group-2/app/components/profile/MyblogCard.tsx
Labels: Fix PR title format

#339 feat(AASTU-web-g2): Add Dark Mode to Stories Page
  aastu/web/group-2/app/stories/page.tsx
Labels: Fix PR title format

#319 Feature(aait.mobile.g1):authentication_and_authorization_added
  aait/mobile/group-1/blog_app/android/app/src/main/AndroidManifest.xml
  aait/mobile/group-1/blog_app/assets/images/a2sv.png
  aait/mobile/group-1/blog_app/lib/Injection/auth_injection.dart
  aait/mobile/group-1/blog_app/lib/Injection/injection.dart
  aait/mobile/group-1/blog_app/lib/Injection/injection_container.dart
  aait/mobile/group-1/blog_app/lib/assets/images/a2sv.png
  aait/mobile/group-1/blog_app/lib/core/utils/input_converter.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/data_source/auth_local_data_source.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/data_source/auth_local_data_source_Impl.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/data_source/auth_remote_data_source.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/data_source/auth_remote_data_source_Impl.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/models/login_user_model.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/models/sign_up_user_model.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/models/user_data_model.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/data/repository/auth_repository_Impl.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/domain/entities/user_data_entity.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/domain/repositories/auth_repository.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/domain/usecases/login_use_case.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/domain/usecases/sign_up_use_case.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/domain/usecases/user_use_case.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/Log_in_bloc/bloc.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/Log_in_bloc/event.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/Log_in_bloc/state.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/sign_in_bloc/bloc.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/sign_in_bloc/event.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/sign_in_bloc/state.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/sign_up_bloc/bloc.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/sign_up_bloc/event.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/bloc/sign_up_bloc/state.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/pages/circular_indicator.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/pages/signup_login_page.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/pages/success_page.dart
  aait/mobile/group-1/blog_app/lib/features/authentication_and_authorization/presentation/pages/wait_page.dart
  aait/mobile/group-1/blog_app/lib/features/user_profile/data/repository/user_repository_implementaion.dart
  aait/mobile/group-1/blog_app/lib/features/user_profile/presentation/bloc/profile_bloc.dart
  aait/mobile/group-1/blog_app/lib/main.dart
Labels: Mobile, group 1, AAiT, Fix PR title format

#311 fix(aastu.web.g1): Responsiveness for Success stories and custom loader
  aastu/web/group-1/a2sv-blogs/src/app/(default)/blogs/[id]/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/about/Hero.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/InterviewPartners.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/SuccessStoriesHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/SuccessStoryCard.tsx
Labels: web, AASTU, group 1, Fix PR title format

#314 make teampage responsive and complete the pagination
  aastu/web/group-1/a2sv-blogs/public/images/profile_.png
  aastu/web/group-1/a2sv-blogs/public/images/team_.png
  aastu/web/group-1/a2sv-blogs/src/components/teams/LoadingSkeleton.tsx
  aastu/web/group-1/a2sv-blogs/src/components/teams/PaginationButtons.tsx
  aastu/web/group-1/a2sv-blogs/src/components/teams/TeamHome.tsx
  aastu/web/group-1/a2sv-blogs/src/components/teams/TeamMemberCard.tsx
  aastu/web/group-1/a2sv-blogs/src/components/teams/TeamMemberList.tsx
Labels: Fix PR title format

#317 feat(aastu.web.g1):navbar.responsiveness
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/common/NavBar.tsx
Labels: Urgent, web, AASTU, group 1, Fix PR title format

#327 fix(aastu-web-g1): Create Blog page responsiveness fix
  aastu/web/group-1/a2sv-blogs/src/app/(default)/blogs/create/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/DragAndDrop.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/QuillForm.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/QuillToolbar.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/TagsSelector.tsx
  aastu/web/group-1/a2sv-blogs/src/components/common/ProfileAvatar.tsx
Labels: Fix PR title format

#300 fix(AAiT-backend-2B): Add requests & handlers, test, service registrations
  aait/backend/group-2B/Application.Tests/Application.Tests.csproj
  aait/backend/group-2B/Application.Tests/Features/Authentication/Handlers/Commands/RegisterUserCommandHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Authentication/Handlers/Queries/LoginUserRequestHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Authentication/Requests/Commands/.gitkeep
  aait/backend/group-2B/Application.Tests/Features/Authentication/Requests/Queries/.gitkeep
  aait/backend/group-2B/Application.Tests/Mocks/Persistence/MockUnitOfWork.cs
  aait/backend/group-2B/Application.Tests/Mocks/Persistence/MockUserRepository.cs
  aait/backend/group-2B/Application/Application.csproj
  aait/backend/group-2B/Application/ApplicationServicesRegistration.cs
  aait/backend/group-2B/Application/Features/Authentication/Handlers/Commands/RegisterUserCommandHandler.cs
  aait/backend/group-2B/Application/Features/Authentication/Handlers/Queries/LoginUserRequestHandler.cs
  aait/backend/group-2B/Application/Features/Authentication/Requests/Commands/RegisterUserCommand.cs
  aait/backend/group-2B/Application/Features/Authentication/Requests/Queries/LoginUserRequest.cs
  aait/backend/group-2B/Application/Profiles/AuthenticationMappingProfile.cs
  aait/backend/group-2B/Infrastructure/DateTimeService/DateTimeProvider.cs
  aait/backend/group-2B/Infrastructure/Infrastructure.csproj
  aait/backend/group-2B/Infrastructure/InfrastructureServicesRegistration.cs
  aait/backend/group-2B/Infrastructure/JwtService/JwtGenerator.cs
  aait/backend/group-2B/Infrastructure/JwtService/JwtSettings.cs
  aait/backend/group-2B/Infrastructure/PasswordService/PasswordHasher.cs
  aait/backend/group-2B/Persistence/PersistenceServicesRegistration.cs
  aait/backend/group-2B/Persistence/Repositories/UserRepository.cs
  aait/backend/group-2B/WebApi/Program.cs
  aait/backend/group-2B/WebApi/Services/Interfaces/IUserService.cs
  aait/backend/group-2B/WebApi/Services/UserService.cs
  aait/backend/group-2B/WebApi/WebApi.csproj
Labels: backend, AAiT, group 2b

#344 fix(AASTU-web-G2): Fix up some pages
  aastu/web/group-2/app/components/Chip.tsx
  aastu/web/group-2/app/components/profile/MyblogCard.tsx
  aastu/web/group-2/app/login/page.tsx
  aastu/web/group-2/app/teams/page.tsx
Labels: Fix PR title format

#289 fix(AAiT-Backend-2b): fixed the response type for get interactions
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Queries/GetAllCommentInteractionRequestHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Queries/GetInteractionRequestHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Queries/GetAllCommentInteractionRequest.cs
  aait/backend/group-2B/Application/Features/Interactions/Requests/Queries/GetInteractionRequest.cs
  aait/backend/group-2B/Application/Profiles/InteractionMapperProfile.cs
Labels: Fix PR title format

#348 fix(aastu.web.g2):fix dark mode
  aastu/web/group-2/app/blog/add-blog/page.tsx
  aastu/web/group-2/app/components/Nav.tsx
  aastu/web/group-2/app/components/blog/singleBlog.tsx
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/app/components/home/BuildBetterSection.tsx
  aastu/web/group-2/app/components/home/HelpUs.tsx
  aastu/web/group-2/app/components/home/ImpactStoriesSection.tsx
  aastu/web/group-2/app/components/home/LandingSection.tsx
  aastu/web/group-2/app/components/home/ProfileDropDown.tsx
  aastu/web/group-2/app/components/home/SuccsessRateCard.tsx
  aastu/web/group-2/app/components/home/SuccsessRateSection.tsx
  aastu/web/group-2/app/layout.tsx
  aastu/web/group-2/app/stories/page.tsx
  aastu/web/group-2/app/teams/page.tsx
  aastu/web/group-2/lib/redux/slices/loginSlice.ts
  aastu/web/group-2/lib/types.ts
Labels: Fix PR title format

#350 fix(AASTU-web-G2): Fix the dark mode
  aastu/web/group-2/app/components/profile/AccountSettingsSection.tsx
  aastu/web/group-2/app/profile/page.tsx
Labels: Fix PR title format

#351 feat(aait.web.g4.kirubel-sentayehu.profile-page): Complete UI for the Profile page
  aait/web/group-4/starter-project/app/layout.tsx
  aait/web/group-4/starter-project/app/profile/account-setting/page.tsx
  aait/web/group-4/starter-project/app/profile/layout.tsx
  aait/web/group-4/starter-project/app/profile/my-blogs/page.tsx
  aait/web/group-4/starter-project/app/profile/page.tsx
  aait/web/group-4/starter-project/components/profile/AccountSetting.tsx
  aait/web/group-4/starter-project/components/profile/BlogCard.tsx
  aait/web/group-4/starter-project/components/profile/Blogs.tsx
  aait/web/group-4/starter-project/components/profile/PersonalInfoForm.tsx
  aait/web/group-4/starter-project/components/profile/ProfileHeader.tsx
  aait/web/group-4/starter-project/data/profile.json
Labels: Fix PR title format

#349 feat(AAiT-backend-1A): Integration with Follow feature
  aait/backend/group-1A/Application.Tests/Features/PostFeatureTest/Commands/CreatePostHandlerTest.cs
  aait/backend/group-1A/Application.Tests/Features/PostFeatureTest/Commands/DeletePostHandlerTest.cs
  aait/backend/group-1A/Application.Tests/Features/PostFeatureTest/Commands/UpdatePostHandlerTest.cs
  aait/backend/group-1A/Application.Tests/Features/PostFeatureTest/Queries/GetPostHandlerTest.cs
  aait/backend/group-1A/Application.Tests/Mocks/MockPostRepository.cs
  aait/backend/group-1A/Application/ApplicationServiceRegistration.cs
  aait/backend/group-1A/Application/Common/CommonResponseDTO.cs
  aait/backend/group-1A/Application/Contracts/IFollowRepository.cs
  aait/backend/group-1A/Application/Contracts/IUserRepository.cs
  aait/backend/group-1A/Application/DTO/FollowDTo/FollowDTO.cs
  aait/backend/group-1A/Application/DTO/FollowDTo/Validations/FollowDTOValidation.cs
  aait/backend/group-1A/Application/DTO/UserDTO/DTO/IBaseUserDTO.cs
  aait/backend/group-1A/Application/DTO/UserDTO/DTO/UserCreateDTO.cs
  aait/backend/group-1A/Application/DTO/UserDTO/DTO/UserResponseDTO.cs
  aait/backend/group-1A/Application/DTO/UserDTO/DTO/UserUpdateDTO.cs
  aait/backend/group-1A/Application/DTO/UserDTO/validations/CommonUserValidation.cs
  aait/backend/group-1A/Application/DTO/UserDTO/validations/UserCreateValidation.cs
  aait/backend/group-1A/Application/DTO/UserDTO/validations/UserUpdateValidation.cs
  aait/backend/group-1A/Application/DTO/UserDto.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Handlers/Commands/CreateFollowCommandHandler.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Handlers/Commands/DeleteFollowCommandHandler.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Handlers/Queries/GetFollowedUsersQueryHandler.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Handlers/Queries/GetFollowersQueryHandler.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Requests/Commands/CreateFollowCommand.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Requests/Commands/DeleteFollowCommand.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Requests/Queries/GetFollowedUsersQuery.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Requests/Queries/GetFollowersQuery.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Commands/CreatePostHandler.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Commands/DeletePostHandler.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Commands/UpdatePostHandler.cs
  aait/backend/group-1A/Application/Features/ReactionFeature/Handlers/Commands/PostReactionHandler.cs
  aait/backend/group-1A/Application/Features/ReactionFeature/Handlers/Queries/GetPostDislikesHandler.cs
  aait/backend/group-1A/Application/Features/ReactionFeature/Handlers/Queries/GetPostLikesHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Handlers/Commands/CreateUserHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Handlers/Commands/DeleteUserHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Handlers/Commands/UpdateUserHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Handlers/Queries/GetAllUserHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Handlers/Queries/GetSingleUserHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Requests/Commands/CreateUser.cs
  aait/backend/group-1A/Application/Features/UserFeature/Requests/Commands/DeleteUser.cs
  aait/backend/group-1A/Application/Features/UserFeature/Requests/Commands/UpdateUser.cs
  aait/backend/group-1A/Application/Features/UserFeature/Requests/Queries/GetAllPosts.cs
  aait/backend/group-1A/Application/Features/UserFeature/Requests/Queries/GetSinglePost.cs
  aait/backend/group-1A/Application/Profiles/MappingProfile.cs
  aait/backend/group-1A/Application/Response/BaseResponse.cs
  aait/backend/group-1A/Domain/Entites/Follow.cs
  aait/backend/group-1A/Domain/Entites/User.cs
  aait/backend/group-1A/Persistence/Configurations/Entities/FollowConfiguration.cs
  aait/backend/group-1A/Persistence/Migrations/SocialMediaDbContextModelSnapshot.cs
  aait/backend/group-1A/Persistence/PersistenceServiceRegistration.cs
  aait/backend/group-1A/Persistence/Repositories/Auth/AuthRepository.cs
  aait/backend/group-1A/Persistence/Repositories/FollowRepository.cs
  aait/backend/group-1A/Persistence/Repositories/UserRepository.cs
  aait/backend/group-1A/Persistence/SocialMediaDbContext.cs
  aait/backend/group-1A/WebApi/Controllers/FollowController.cs
  aait/backend/group-1A/WebApi/Controllers/UserController.cs
  aait/backend/group-1A/WebApi/Program.cs
  aait/backend/group-1A/WebApi/WebApi.csproj
  aait/backend/group-1A/WebApi/appsettings.json
Labels: backend, AAiT

#356 feat(AAiT-backend-1A): tag feature
  aait/backend/group-1A/Application/Contracts/IGenericRepository.cs
  aait/backend/group-1A/Application/Contracts/IPostTagRepository.cs
  aait/backend/group-1A/Application/Contracts/ITagRepository.cs
  aait/backend/group-1A/Application/DTO/TagDto/CreateTagDto.cs
  aait/backend/group-1A/Application/DTO/TagDto/TagResponse.cs
  aait/backend/group-1A/Application/DTO/TagDto/UpdateTagDto.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Commands/CreatePostHandler.cs
  aait/backend/group-1A/Application/Features/TagFeature/Handlers/Commands/CreateTagCommandHandler.cs
  aait/backend/group-1A/Application/Features/TagFeature/Handlers/Commands/UpdateTagRequestHandler.cs
  aait/backend/group-1A/Application/Features/TagFeature/Handlers/Requests/DeleteTagRequestHandler.cs
  aait/backend/group-1A/Application/Features/TagFeature/Handlers/Requests/GetAllTagsRequestHandler.cs
  aait/backend/group-1A/Application/Features/TagFeature/Requests/Commands/CreateTagCommand.cs
  aait/backend/group-1A/Application/Features/TagFeature/Requests/Commands/UpdateTagRequest.cs
  aait/backend/group-1A/Application/Features/TagFeature/Requests/Requests/DeleteTagRequest.cs
  aait/backend/group-1A/Application/Features/TagFeature/Requests/Requests/GetTagsRequests.cs
  aait/backend/group-1A/Application/Profiles/MappingProfile.cs
  aait/backend/group-1A/Domain/Entites/PostTag.cs
  aait/backend/group-1A/Domain/Entites/Tag.cs
  aait/backend/group-1A/Persistence/PersistenceServiceRegistration.cs
  aait/backend/group-1A/Persistence/Repositories/GenericRepository.cs
  aait/backend/group-1A/Persistence/Repositories/PostRepositories/PostRepository.cs
  aait/backend/group-1A/Persistence/Repositories/PostTagRepository/PostTagRepository.cs
  aait/backend/group-1A/Persistence/Repositories/ReactionRespositories/PostReactionRepository.cs
  aait/backend/group-1A/Persistence/Repositories/TagRepositories/TagRepositories.cs
  aait/backend/group-1A/Persistence/SocialMediaDbContext.cs
  aait/backend/group-1A/WebApi/Controllers/TagController.cs
  aait/backend/group-1A/WebApi/appsettings.json
Labels: backend, AAiT, group 1a

#363 feat(AAiT-backend-1A): Compelete integration
  aait/backend/group-1A/Application/Common/CommonResponseDTO.cs
  aait/backend/group-1A/Application/Contracts/IAuthRepository.cs
  aait/backend/group-1A/Application/Contracts/ICommentRepository.cs
  aait/backend/group-1A/Application/Contracts/IGenericRepository.cs
  aait/backend/group-1A/Application/Contracts/INotificationRepository.cs
  aait/backend/group-1A/Application/Contracts/IPostRepository.cs
  aait/backend/group-1A/Application/Contracts/IPostTagRepository.cs
  aait/backend/group-1A/Application/Contracts/ITagRepository.cs
  aait/backend/group-1A/Application/DTO/Common/CommonResponseDTO.cs
  aait/backend/group-1A/Application/DTO/PostDTO/DTO/PostResponseDTO.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Commands/CreateCommentHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Commands/DeleteCommentHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Handlers/Commands/UpdateCommentHandler.cs
  aait/backend/group-1A/Application/Features/CommentFeatures/Requests/Commands/DeleteComment.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Handlers/Commands/MakeCommentReactionHandler.cs
  aait/backend/group-1A/Application/Features/CommentReactionFeature/Requests/Commands/MakeReactionOnComment.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Handlers/Commands/CreateFollowCommandHandler.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Handlers/Commands/DeleteFollowCommandHandler.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Requests/Commands/CreateFollowCommand.cs
  aait/backend/group-1A/Application/Features/FollowFeature/Requests/Commands/DeleteFollowCommand.cs
  aait/backend/group-1A/Application/Features/NotificationFeaure/Handlers/Commands/MarkAllReadHandler.cs
  aait/backend/group-1A/Application/Features/NotificationFeaure/Handlers/Queries/GetAllNotification.cs
  aait/backend/group-1A/Application/Features/NotificationFeaure/Handlers/Queries/GetUnreadNotificationHandler.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Commands/CreatePostHandler.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Commands/DeletePostHandler.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Commands/UpdatePostHandler.cs
  aait/backend/group-1A/Application/Features/PostFeature/Handlers/Queries/GetSinglePostHandler.cs
  aait/backend/group-1A/Application/Features/PostFeature/Requests/Commands/DeletePost.cs
  aait/backend/group-1A/Application/Features/ReactionFeature/Handlers/Commands/PostReactionHandler.cs
  aait/backend/group-1A/Application/Features/ReactionFeature/Handlers/Queries/GetPostDislikesHandler.cs
  aait/backend/group-1A/Application/Features/ReactionFeature/Handlers/Queries/GetPostLikesHandler.cs
  aait/backend/group-1A/Application/Features/ReactionFeature/Requests/Commands/PostReaction.cs
  aait/backend/group-1A/Application/Features/TagFeature/Handlers/Commands/CreateTagCommandHandler.cs
  aait/backend/group-1A/Application/Features/TagFeature/Handlers/Requests/GetAllTagsRequestHandler.cs
  aait/backend/group-1A/Application/Features/TagFeature/Requests/Commands/CreateTagCommand.cs
  aait/backend/group-1A/Application/Features/TagFeature/Requests/Requests/GetTagsRequests.cs
  aait/backend/group-1A/Application/Features/UserFeature/Handlers/Commands/CreateUserHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Handlers/Commands/DeleteUserHandler.cs
  aait/backend/group-1A/Application/Features/UserFeature/Requests/Commands/CreateUser.cs
  aait/backend/group-1A/Application/Features/UserFeature/Requests/Commands/DeleteUser.cs
  aait/backend/group-1A/Application/Profiles/MappingProfile.cs
  aait/backend/group-1A/Persistence/Migrations/SocialMediaDbContextModelSnapshot.cs
  aait/backend/group-1A/Persistence/Repositories/CommentRespositories/CommentRepository.cs
  aait/backend/group-1A/Persistence/Repositories/GenericRepository.cs
  aait/backend/group-1A/Persistence/Repositories/NotificationRepository/NotificationRepository.cs
  aait/backend/group-1A/Persistence/Repositories/PostRepositories/PostRepository.cs
  aait/backend/group-1A/Persistence/Repositories/TagRepositories/TagRepositories.cs
  aait/backend/group-1A/Persistence/SocialMediaDbContext.cs
  aait/backend/group-1A/WebApi/Controllers/CommentController.cs
  aait/backend/group-1A/WebApi/Controllers/CommentReactionController.cs
  aait/backend/group-1A/WebApi/Controllers/FollowController.cs
  aait/backend/group-1A/WebApi/Controllers/PostController.cs
  aait/backend/group-1A/WebApi/Controllers/PostReactionController.cs
  aait/backend/group-1A/WebApi/Controllers/TagController.cs
  aait/backend/group-1A/WebApi/Controllers/UserController.cs
  aait/backend/group-1A/WebApi/appsettings.json
Labels: backend, AAiT, group 1a

#365 feat(AAiT-mobile-2): Add Article Filter Feature
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/remote/remote_datasource.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/remote/remote_datasource_impl.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/repositories/article_repository_impl.dart
  aait/mobile/group-2/blog_app/lib/features/article/domain/repositories/article_repository.dart
  aait/mobile/group-2/blog_app/lib/features/article/domain/usecases/filter_articles.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_event.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_state.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/home_page.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_info.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_photo.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/search_bar.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/tag_list.dart
  aait/mobile/group-2/blog_app/lib/injection_container.dart
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#368 Revert "fix(AAiT-mobile-3): create Article page"
  aait/mobile/group-3/blog_app/.gitignore
  aait/mobile/group-3/blog_app/android/app/src/main/AndroidManifest.xml
  aait/mobile/group-3/blog_app/assets/images/Splashscreen.png
  aait/mobile/group-3/blog_app/assets/images/onboarding1.png
  aait/mobile/group-3/blog_app/assets/images/onboarding2.png
  aait/mobile/group-3/blog_app/assets/images/onboarding3.png
  aait/mobile/group-3/blog_app/assets/images/onboarding4.png
  aait/mobile/group-3/blog_app/lib/blog_app.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/bloc/article_bloc.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/screen/write_aricle_page.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/add_tags_text_field.dart
  aait/mobile/group-3/blog_app/lib/features/onboarding/screens/onboarding_page.dart
  aait/mobile/group-3/blog_app/lib/features/onboarding/widgets/scrollable_content.dart
Labels: Fix PR title format

#369 fix(AASTU-web-G2): Fix header and footer
  aastu/web/group-2/app/components/footer.tsx
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/app/donate/page.tsx
Labels: Fix PR title format

#374 fix(aastu.web.g1): fix on ui and responsiveness
  aastu/web/group-1/a2sv-blogs/public/images/Saly-14person.svg
  aastu/web/group-1/a2sv-blogs/public/images/dark-a2sv.svg
  aastu/web/group-1/a2sv-blogs/src/app/(authLayout)/auth/login/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/(authLayout)/auth/signup/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/(default)/blogs/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/(default)/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/(default)/stories/page.tsx
  aastu/web/group-1/a2sv-blogs/src/app/(default)/teams/page.tsx
  aastu/web/group-1/a2sv-blogs/src/components/blogs/BlogHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/common/NavBar.tsx
  aastu/web/group-1/a2sv-blogs/src/components/profile/MyBlogsList.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/InterviewPartners.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/SuccessStoriesHeader.tsx
  aastu/web/group-1/a2sv-blogs/src/components/stories/SuccessStoryCard.tsx
  aastu/web/group-1/a2sv-blogs/src/components/teams/TeamHome.tsx
Labels: Fix PR title format

#377 feat(aait-backend-2b): Add controller for authentication
  aait/backend/group-2B/Application/Application.csproj
  aait/backend/group-2B/Application/Profiles/PostsMappingProfile.cs
  aait/backend/group-2B/WebApi/Controllers/AuthenticationController.cs
  aait/backend/group-2B/WebApi/WebApi.csproj
Labels: Fix PR title format

#362 feat(AAiT-backend-2b) interaction-feature-test
  aait/backend/group-2B/Application.Tests/Features/Interactions/Handlers/Commands/CreateCommentInteractionCommandHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Interactions/Handlers/Commands/DeleteCommentInteractionCommandHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Interactions/Handlers/Commands/LikeUnlikePostInteractionCommandHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Interactions/Handlers/Commands/UpdateCommentInteractionCommandHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Interactions/Handlers/Queries/GetAllCommentInteractionRequestHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Interactions/Handlers/Queries/GetInteractionRequestHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Mocks/Persistence/MockInteractionRepository.cs
  aait/backend/group-2B/Application.Tests/Mocks/Persistence/MockUnitOfWork.cs
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/Validator/CommentDtoValidator.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Commands/CreateCommentInteractionCommandHandler.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Commands/UpdateCommentInteractionCommandHandler.cs
  aait/backend/group-2B/Application/Profiles/InteractionMappingProfile.cs
Labels: Fix PR title format

#381 fix(aastu.web.g2):toast added
  aastu/web/group-2/app/blog/add-blog/page.tsx
  aastu/web/group-2/app/blog/page.tsx
  aastu/web/group-2/app/components/Toast.tsx
  aastu/web/group-2/app/components/home/ProfileDropDown.tsx
  aastu/web/group-2/app/components/profile/AccountSettingsSection.tsx
  aastu/web/group-2/app/profile/layout.tsx
  aastu/web/group-2/app/profile/myblogs/page.tsx
  aastu/web/group-2/app/profile/page.tsx
Labels: web, AASTU, group 2, Fix PR title format

#373 fit(AAiT-web_g3): remove comments and unused codes
  aait/web/group-3/starter_project_group3/app/layout.tsx
  aait/web/group-3/starter_project_group3/app/login/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/accountsetting/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/myblogs/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/personalinformation/page.tsx
  aait/web/group-3/starter_project_group3/app/register/page.tsx
  aait/web/group-3/starter_project_group3/components/header/NavBar.tsx
  aait/web/group-3/starter_project_group3/data/blog/blog.ts
  aait/web/group-3/starter_project_group3/store/features/auth/index.ts
Labels: web, group 3, AAiT, Fix PR title format

#378 feat(aait.web.g4): impact-stories
  aait/web/group-4/starter-project/app/layout.tsx
  aait/web/group-4/starter-project/app/success-stories/page.tsx
  aait/web/group-4/starter-project/components/story/Partners.tsx
  aait/web/group-4/starter-project/components/story/PartnersLogo.tsx
  aait/web/group-4/starter-project/components/story/StoryCard.tsx
  aait/web/group-4/starter-project/components/story/StoryHead.tsx
  aait/web/group-4/starter-project/next.config.js
  aait/web/group-4/starter-project/package-lock.json
  aait/web/group-4/starter-project/package.json
  aait/web/group-4/starter-project/public/images/story/partners/data-bricks.svg
  aait/web/group-4/starter-project/public/images/story/partners/google.svg
  aait/web/group-4/starter-project/public/images/story/partners/inst-deep.svg
  aait/web/group-4/starter-project/public/images/story/partners/linkedin.svg
  aait/web/group-4/starter-project/public/images/story/partners/meta.svg
  aait/web/group-4/starter-project/public/images/story/partners/palantir.svg
  aait/web/group-4/starter-project/store/page.ts
  aait/web/group-4/starter-project/store/story/story-api.tsx
  aait/web/group-4/starter-project/types/Story/story-type.ts
Labels: Fix PR title format

#382 fix(AASTU-web-G2): fix blog page
  aastu/web/group-2/app/blog/page.tsx
Labels: Fix PR title format

#386 feat(AAiT-backend-1a): User Tests feature
  aait/backend/group-1A/Application.Tests/Features/UserFeatureTest/Commands/CreateUserHandlerTests.cs
  aait/backend/group-1A/Application.Tests/Features/UserFeatureTest/Commands/DeleteUserHandlerTests.cs
  aait/backend/group-1A/Application.Tests/Features/UserFeatureTest/Commands/UpdateUserHandlerTests.cs
  aait/backend/group-1A/Application.Tests/Features/UserFeatureTest/Queries/GetAllUserHandlerTests.cs
  aait/backend/group-1A/Application.Tests/Features/UserFeatureTest/Queries/GetSingleUserHandlerTests.cs
  aait/backend/group-1A/Application.Tests/Mocks/MockPostRepository.cs
  aait/backend/group-1A/Application.Tests/Mocks/MockUserRepository.cs
  aait/backend/group-1A/Application/DTO/UserDTO/DTO/UserResponseDTO.cs
Labels: Fix PR title format

#387 fix(aastu.web.g2):rehydration error on useclickouside hook
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/app/stories/page.tsx
Labels: Fix PR title format

#390 fix(AASTU-web-G2): Fixed hydration error
  aastu/web/group-2/app/components/home/LandingSection.tsx
Labels: Fix PR title format

#384 fix(AAiT-backend-2b): update post endpoints with authorizaton feature
  aait/backend/group-2B/WebApi/Controllers/PostsController.cs
  aait/backend/group-2B/WebApi/Services/Interfaces/IUserService.cs
  aait/backend/group-2B/WebApi/Services/UserService.cs
Labels: Fix PR title format

#379 Aait.web.g1.admas terefe.add blog
  aait/web/group-1/app/blog/addBlog/page.tsx
  aait/web/group-1/app/layout.tsx
  aait/web/group-1/components/blog/AddBlog.tsx
  aait/web/group-1/components/blog/Chip.tsx
  aait/web/group-1/components/layout/Footer.tsx
  aait/web/group-1/data/blog/tags.ts
  aait/web/group-1/package-lock.json
  aait/web/group-1/package.json
  aait/web/group-1/public/images/blog/addBlogIcon.png
  aait/web/group-1/store/blog/blogApi.ts
  aait/web/group-1/tailwind.config.ts
  aait/web/group-1/types/blog/addBlog/AddBlogResponse.ts
Labels: Fix PR title format

#397 fix(AASTU-web-g2): fix add blog page
  aastu/web/group-2/app/components/add-blog/TextEditor.tsx
  aastu/web/group-2/app/globals.css
  aastu/web/group-2/assets/images/file_icon.png
Labels: Fix PR title format

#347 feat(AAiT-web-1): Implement Single Blog page
  aait/web/group-1/app/blog/[blogId]/page.tsx
  aait/web/group-1/app/globals.css
  aait/web/group-1/app/layout.tsx
  aait/web/group-1/components/layout/Footer.tsx
  aait/web/group-1/next.config.js
  aait/web/group-1/store/features/blogs/blogs.ts
  aait/web/group-1/store/index.ts
  aait/web/group-1/types/Author.ts
  aait/web/group-1/types/Blog.ts
  aait/web/group-1/types/Profile.ts
Labels: web, group 1, AAiT

#329 feat(aait-web-g1): Add the success stories page
  aait/web/group-1/app/success-stories/page.tsx
  aait/web/group-1/components/success-stories/Story.tsx
  aait/web/group-1/types/story.ts
Labels: Fix PR title format

#400 fix(AAiT-Backend-2B): interaction feature API authorization
  aait/backend/group-2B/Application/DTOs/InteractionDTOs/InteractionDto.cs
  aait/backend/group-2B/Application/Features/Interactions/Handlers/Commands/UpdateCommentInteractionCommandHandler.cs
  aait/backend/group-2B/WebApi/Controllers/InteractionsController.cs
  aait/backend/group-2B/WebApi/Controllers/WeatherForecastController.cs
Labels: Fix PR title format

#403 feat(AAiT-mobile-2): Add Delete Article Usecase
  aait/mobile/group-2/blog_app/lib/features/article/data/datasources/remote/remote_datasource_impl.dart
  aait/mobile/group-2/blog_app/lib/features/article/data/repositories/article_repository_impl.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/bloc/article_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_card.dart
Labels: Mobile, group 2, AAiT

#402 feat(AAiT-backend-2A): Notification Read CQRS and controller
  aait/backend/group-2A/Application/Contracts/Persistance/INotificationRepository.cs
  aait/backend/group-2A/Application/DTO/NotificationDTO/UpdateNotifiactionDto.cs
  aait/backend/group-2A/Application/DTO/NotificationDTO/Validator/UpdateNotificationDtoValidator.cs
  aait/backend/group-2A/Application/DTO/UserDTO/Validator/UpdateUserDTOValidator.cs
  aait/backend/group-2A/Application/Exceptions/ValidationException.cs
  aait/backend/group-2A/Application/Features/User/Handlers/Commands/CreateUserCommandHandler.cs
  aait/backend/group-2A/Application/Features/User/Handlers/Commands/MakeNotificationReadCommandHandler.cs
  aait/backend/group-2A/Application/Features/User/Handlers/Commands/UpdateUserCommandHandler.cs
  aait/backend/group-2A/Application/Features/User/Handlers/Queries/GetNotificationHandler.cs
  aait/backend/group-2A/Application/Features/User/Handlers/Queries/GetSingleNotificationRequestHandler.cs
  aait/backend/group-2A/Application/Features/User/Request/Commands/MakeNotificationReadCommand.cs
  aait/backend/group-2A/Application/Features/User/Request/Commands/UpdateUserCommand.cs
  aait/backend/group-2A/Application/Features/User/Request/Queries/GetNotifications.cs
  aait/backend/group-2A/Application/Features/User/Request/Queries/GetSingleNotificationRequest.cs
  aait/backend/group-2A/Application/Model/string.cs
  aait/backend/group-2A/Application/Profiles/MappingProfile.cs
  aait/backend/group-2A/Application/Responses/BaseCommandResponses.cs
  aait/backend/group-2A/Domain/Entities/Notification.cs
  aait/backend/group-2A/Persistence/Repositories/NotificationRepository.cs
  aait/backend/group-2A/WebApi/Controllers/AuthController.cs
  aait/backend/group-2A/WebApi/Controllers/UserController.cs
Labels: backend, AAiT, group 2a

#404 Aait.web.g3.dawit andargachew.profile redux
  aait/web/group-3/starter_project_group3/app/blogs/page.tsx
  aait/web/group-3/starter_project_group3/app/layout.tsx
  aait/web/group-3/starter_project_group3/app/profile/accountsetting/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/myblogs/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/personalinformation/page.tsx
  aait/web/group-3/starter_project_group3/store/features/my-blogs/index.ts
  aait/web/group-3/starter_project_group3/store/index.ts
Labels: web, group 3, AAiT, Fix PR title format

#407 Aastu.web.g2.abel getahun.header fix
  aastu/web/group-2/app/components/header.tsx
  aastu/web/group-2/app/layout.tsx
Labels: web, AASTU, group 2, Fix PR title format

#406 add(AAiT-web-g4): blog teams signin signup and blog detail pages
  aait/web/group-4/starter-project/.gitignore
  aait/web/group-4/starter-project/app/blogs/[id]/page.tsx
  aait/web/group-4/starter-project/app/blogs/page.tsx
  aait/web/group-4/starter-project/app/signin/page.tsx
  aait/web/group-4/starter-project/app/signup/page.tsx
  aait/web/group-4/starter-project/app/teams/page.tsx
  aait/web/group-4/starter-project/components/blogs/BlogCard.tsx
  aait/web/group-4/starter-project/components/blogs/SmallBlogCard.tsx
  aait/web/group-4/starter-project/components/signin-and-signup/SigninForm.tsx
  aait/web/group-4/starter-project/components/signin-and-signup/SignupForm.tsx
  aait/web/group-4/starter-project/components/signin-and-signup/TextField.tsx
  aait/web/group-4/starter-project/components/teams/MemberCard.tsx
  aait/web/group-4/starter-project/data/dummyAuthor.json
  aait/web/group-4/starter-project/data/relatedBlog.json
  aait/web/group-4/starter-project/public/images/blog/A2SVLogo.png
  aait/web/group-4/starter-project/public/images/blog/Group 39.png
  aait/web/group-4/starter-project/public/images/blog/blog_detail.png
  aait/web/group-4/starter-project/public/images/blog/blog_picture.png
  aait/web/group-4/starter-project/public/images/blog/blog_profile.png
  aait/web/group-4/starter-project/public/images/blog/facebook.png
  aait/web/group-4/starter-project/public/images/blog/favicon-32x32.png
  aait/web/group-4/starter-project/public/images/blog/instagram.png
  aait/web/group-4/starter-project/public/images/blog/landing image area.png
  aait/web/group-4/starter-project/public/images/blog/linkedin.png
  aait/web/group-4/starter-project/public/images/blog/signupAndLoginAvatar.png
  aait/web/group-4/starter-project/public/images/blog/twitter.png
  aait/web/group-4/starter-project/public/images/blog/user profile area.png
  aait/web/group-4/starter-project/public/images/blog/youtube.png
  aait/web/group-4/starter-project/store/blogs/BlogApi.ts
  aait/web/group-4/starter-project/types/blogs/Author.ts
  aait/web/group-4/starter-project/types/blogs/BlogData.ts
  aait/web/group-4/starter-project/types/teams/Member.ts
  aait/web/group-4/starter-project/types/teams/SocialMedia.ts
Labels: Fix PR title format

#413 feat(AAiT-mobile-2): Add Logout and Update Profile Image
  aait/mobile/group-2/blog_app/lib/core/constants/constants.dart
  aait/mobile/group-2/blog_app/lib/core/network/custom_client.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/home_page.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_card.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/tag_selector.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/update_article_form.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/local_data_source.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/data_sources/local_data_source_impl.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/data/repositories/auth_repository_impl.dart
  aait/mobile/group-2/blog_app/lib/features/authentication/presentation/bloc/auth_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/onboard/presentation/screens/initial_screen.dart
  aait/mobile/group-2/blog_app/lib/features/user/data/datasources/local/user_local_data_source_impl.dart
  aait/mobile/group-2/blog_app/lib/features/user/data/datasources/user_remote_data_source_impl.dart
  aait/mobile/group-2/blog_app/lib/features/user/data/models/user_data_model.dart
  aait/mobile/group-2/blog_app/lib/features/user/data/repositories/user_repository_impl.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/bloc/user_bloc.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/bloc/user_state.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/screens/user_profile.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/article_list_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/profile_bar.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_profile_details.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_profile_photo.dart
Labels: Mobile, group 2, AAiT

#417 feat(AAiT-mobile-2): Clean Up Homepage UI
  aait/mobile/group-2/blog_app/lib/core/presentation/util/date_to_string_convertor.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/app_bar.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_info.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/search_bar.dart
  aait/mobile/group-2/blog_app/pubspec.yaml
Labels: Mobile, group 2, AAiT

#419 feat(AAiT-mobile-2): Add Time Calculator
  aait/mobile/group-2/blog_app/lib/core/utils/time_calculator.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_form_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/screens/article_screen.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/create_article_form.dart
  aait/mobile/group-2/blog_app/lib/features/user/domain/entities/user_data.dart
Labels: Mobile, group 2, AAiT

#353 Ketema.homepage
  aait/mobile/group-3/blog_app/assets/images/avator.jpg
  aait/mobile/group-3/blog_app/lib/blog_app.dart
  aait/mobile/group-3/blog_app/lib/core/bloc_observer.dart
  aait/mobile/group-3/blog_app/lib/features/article/data/data_sources/article_remote_datasource.dart
  aait/mobile/group-3/blog_app/lib/features/article/data/models/article_model.dart
  aait/mobile/group-3/blog_app/lib/features/article/data/repository/article_repository_impl.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/entity/getArticlesEntity.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/repository/article_repository.dart
  aait/mobile/group-3/blog_app/lib/features/article/domain/use_case/get_all_articles.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/bloc/article_bloc.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/bloc/article_event.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/screen/home_screen.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/blog_card_widget.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/header_widget.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/search_bar_widget.dart
  aait/mobile/group-3/blog_app/lib/features/article/presentation/widgets/tags_widget.dart
  aait/mobile/group-3/blog_app/lib/main.dart
  aait/mobile/group-3/blog_app/pubspec.yaml
Labels: Fix PR title format

#422 feat(aait.web.g4): add about-page
  aait/web/group-4/starter-project/app/about-us/page.tsx
  aait/web/group-4/starter-project/components/about/AboutSection.tsx
  aait/web/group-4/starter-project/components/about/HowWeSolveSection.tsx
  aait/web/group-4/starter-project/components/about/ProblemsSection.tsx
  aait/web/group-4/starter-project/components/about/SessionsData.ts
  aait/web/group-4/starter-project/components/about/SessionsSection.tsx
  aait/web/group-4/starter-project/components/about/SocialProjectsSections.tsx
  aait/web/group-4/starter-project/public/images/about/Github.svg
  aait/web/group-4/starter-project/public/images/about/academicons-africarxiv.svg
  aait/web/group-4/starter-project/public/images/about/activity-tile-2.svg
  aait/web/group-4/starter-project/public/images/about/activity-tile-5.svg
  aait/web/group-4/starter-project/public/images/about/activity-tile.svg
  aait/web/group-4/starter-project/public/images/about/amico-puzzle.svg
  aait/web/group-4/starter-project/public/images/about/amico-solve.svg
  aait/web/group-4/starter-project/public/images/about/ic-round-code.svg
  aait/web/group-4/starter-project/public/images/about/icon-tag-1.svg
  aait/web/group-4/starter-project/public/images/about/icon-tag-2.svg
  aait/web/group-4/starter-project/public/images/about/icon-tag-3.svg
  aait/web/group-4/starter-project/public/images/about/icon-tag-4.svg
  aait/web/group-4/starter-project/public/images/about/icon-tag-5.svg
  aait/web/group-4/starter-project/public/images/about/icon-tag.svg
  aait/web/group-4/starter-project/public/images/about/info-icon-3.svg
  aait/web/group-4/starter-project/public/images/about/link.svg
  aait/web/group-4/starter-project/public/images/about/more-info-7-1.svg
  aait/web/group-4/starter-project/public/images/about/more-info.svg
  aait/web/group-4/starter-project/public/images/about/rectangle-1.svg
  aait/web/group-4/starter-project/public/images/about/rectangle-296.svg
  aait/web/group-4/starter-project/public/images/about/rectangle-tracksys.svg
  aait/web/group-4/starter-project/tailwind.config.ts
Labels: Fix PR title format

#434 feat(aait.back.group-2B): implementing the comments given
  aait/backend/group-2B/Application/Contracts/Persistence/IUserRepository.cs
  aait/backend/group-2B/Application/DTOs/Users/FollowUnfollowDto.cs
  aait/backend/group-2B/Application/DTOs/Users/UserDeleteDto.cs
  aait/backend/group-2B/Application/DTOs/Users/UserDto.cs
  aait/backend/group-2B/Application/DTOs/Users/Validators/FollowDtoValidator.cs
  aait/backend/group-2B/Application/DTOs/Users/Validators/UnFollowDtoValidator.cs
  aait/backend/group-2B/Application/DTOs/Users/Validators/UserDeleteDtoValidator.cs
  aait/backend/group-2B/Application/DTOs/Users/Validators/UserDtoValidator.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Commands/FollowUserCommandHandler.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Commands/UnFollowUserCommandHandler.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Commands/UserDeleteCommandHandler.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Commands/UserUpdateCommandHandler.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Queries/GetAllUserQuerieRequestHandler.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Queries/GetFollowersQuerieRequestHandler.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Queries/GetFollowingsQuerieRequestHandler.cs
  aait/backend/group-2B/Application/Features/Users/Handlers/Queries/GetUserQuerieRequestHandler.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Commands/FollowUserCommandRequest.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Commands/UnfollowUserCommandRequest.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Commands/UserDeleteCommandRequest.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Commands/UserUpdateCommandRequest.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Queries/GetAllUserQuerieRequest.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Queries/GetFollowersQuerieRequest.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Queries/GetFollowingsQuerieRequest.cs
  aait/backend/group-2B/Application/Features/Users/Requests/Queries/GetUserQuerieRequest.cs
  aait/backend/group-2B/Persistence/Repositories/UnitOfWork.cs
  aait/backend/group-2B/Persistence/Repositories/UserRepository.cs
  aait/backend/group-2B/WebApi/Controllers/FollowUnfllowUpdateDelete.cs
  aait/backend/group-2B/WebApi/webapi.sln
Labels: Fix PR title format

#420 fit(AAiT-web_g3):add profile update
  aait/web/group-3/starter_project_group3/app/layout.tsx
  aait/web/group-3/starter_project_group3/app/profile/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/personalinformation/page.tsx
  aait/web/group-3/starter_project_group3/store/index.ts
  aait/web/group-3/starter_project_group3/store/update-personal-information/index.ts
Labels: web, group 3, AAiT, Fix PR title format

#437 feat(AAiT-web-2): Blogs page and single blog page
  aait/web/group-2/app/blogs/[id]/page.tsx
  aait/web/group-2/app/blogs/page.tsx
  aait/web/group-2/components/blogs/BlogAuthor.tsx
  aait/web/group-2/components/blogs/BlogPreview.tsx
  aait/web/group-2/components/blogs/BlogTags.tsx
  aait/web/group-2/components/blogs/SearchArea.tsx
  aait/web/group-2/data/blog.ts
  aait/web/group-2/data/content.ts
Labels: web, group 2, AAiT

#441 fix(AAiT-web_g3): refinements on pages to show taost message
  aait/web/group-3/starter_project_group3/app/login/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/accountsetting/page.tsx
  aait/web/group-3/starter_project_group3/app/profile/personalinformation/page.tsx
  aait/web/group-3/starter_project_group3/app/register/page.tsx
  aait/web/group-3/starter_project_group3/components/blog/SmallBlogCard.tsx
Labels: web, group 3, AAiT, Fix PR title format

#442 fix(AAit-backend-2B): Fixing the webapi solution
  aait/backend/group-2B/WebApi/WebApi.sln
  aait/backend/group-2B/WebApi/webapi.sln
Labels: Fix PR title format

#444 feat(AAiT-mobile-2): Add Responsiveness
  aait/mobile/group-2/blog_app/lib/core/presentation/theme/app_colors.dart
  aait/mobile/group-2/blog_app/lib/core/presentation/theme/app_theme.dart
  aait/mobile/group-2/blog_app/lib/features/article/presentation/widgets/article_card.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/article_grid_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/article_list_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/single_article_post_grid_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/single_article_post_list_view.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_bio.dart
  aait/mobile/group-2/blog_app/lib/features/user/presentation/widgets/userprofile/user_profile_info.dart
Labels: Mobile, group 2, AAiT

#396 fix(AAiT-Backend-2B): Add more test cases to cover other scenarios
  aait/backend/group-2B/Application.Tests/Features/Authentication/Handlers/Commands/RegisterUserCommandHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Features/Authentication/Handlers/Queries/LoginUserRequestHandlerTest.cs
  aait/backend/group-2B/Application.Tests/Mocks/Persistence/MockUserRepository.cs
Labels: backend, AAiT, group 2b, Fix PR title format

#313 feat(AAiT-web-1): Implement Blogs page
  aait/web/group-1/app/blog/[blogId]/page.tsx
  aait/web/group-1/app/blogs/page.tsx
  aait/web/group-1/app/globals.css
  aait/web/group-1/app/layout.tsx
  aait/web/group-1/app/teams/page.tsx
  aait/web/group-1/components/blogs/AuthorInfo.tsx
  aait/web/group-1/components/blogs/BlogItem.tsx
  aait/web/group-1/components/layout/NavBar.tsx
  aait/web/group-1/components/teams/Card.tsx
  aait/web/group-1/package-lock.json
  aait/web/group-1/package.json
  aait/web/group-1/public/images/blogs/Default_pfp.svg
  aait/web/group-1/public/images/blogs/coder.svg
  aait/web/group-1/public/images/facebook.svg
  aait/web/group-1/public/images/instagram.svg
  aait/web/group-1/public/images/linkedin.svg
  aait/web/group-1/public/images/pfp.svg
  aait/web/group-1/store/features/blogs/blogs.ts
  aait/web/group-1/store/features/team-members/team-members.ts
  aait/web/group-1/store/index.ts
  aait/web/group-1/types/Author.ts
  aait/web/group-1/types/Blog.ts
  aait/web/group-1/types/Profile.ts
Labels: web, group 1, AAiT

#439 feat(AAiT-bac-g2a): test feature
  aait/backend/group-2A/Application.Tests/Application.Tests.csproj
  aait/backend/group-2A/Application.Tests/Comments/Commands/CreateCommentCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Comments/Commands/DeleteCommentCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Comments/Commands/UpdateCommentCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Comments/Queries/GetCommentRequestHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Comments/Queries/GetCommentsByPostRequestHandler.cs
  aait/backend/group-2A/Application.Tests/Follow/Commands/CreateFollowCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Follow/Commands/DeleteFollowCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Follow/Queries/GetFollowerRequestHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Follow/Queries/GetFollowingRequestHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Like/Commands/CreateLikeCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Like/Commands/DeleteLikeCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Like/Queries/GetIsLikedQueryHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Like/Queries/GetLikedPostRequestHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Like/Queries/GetPostLikesQueryHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Mocks/MockCommentRepository.cs
  aait/backend/group-2A/Application.Tests/Mocks/MockFollowRepository.cs
  aait/backend/group-2A/Application.Tests/Mocks/MockLikeRepository.cs
  aait/backend/group-2A/Application.Tests/Mocks/MockNotificationRepository.cs
  aait/backend/group-2A/Application.Tests/Mocks/MockPostRepository.cs
  aait/backend/group-2A/Application.Tests/Mocks/MockUnitOfWorkRepository.cs
  aait/backend/group-2A/Application.Tests/Mocks/MockUserRepository.cs
  aait/backend/group-2A/Application.Tests/Post/Commands/CreatePostCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Post/Commands/DeletePostCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Post/Commands/UpdatePostCommandHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Post/Queries/GetByContentRequestHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Post/Queries/GetByTagRequestHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Post/Queries/GetFollowingPostRequestHandlerTests.cs
  aait/backend/group-2A/Application.Tests/Post/Queries/GetUserPostRequestHandlerTests.cs
  aait/backend/group-2A/Application/Contracts/Persistance/IFollowRepository.cs
  aait/backend/group-2A/Application/DTO/FollowDTO/Validator/FollowDtoValidator.cs
  aait/backend/group-2A/Application/Features/Follow/Handlers/Command/CreateFollowCommandHandler.cs
  aait/backend/group-2A/Application/Features/Follow/Handlers/Command/DeleteFollowCommandHandler.cs
  aait/backend/group-2A/Application/Responses/BaseCommandResponses.cs
  aait/backend/group-2A/Persistence/Repositories/FollowRepository.cs
Labels: Fix PR title format

#447 fix (AAiT-backend-2B): Added authorization to the profile management
  aait/backend/group-2B/WebApi/Controllers/ProfileManagement.cs
Labels: Fix PR title format

#451 fix(AAiT-web_g3): sync login status with redux slice
  aait/web/group-3/starter_project_group3/app/login/page.tsx
  aait/web/group-3/starter_project_group3/components/header/Header.tsx
  aait/web/group-3/starter_project_group3/components/header/NavBar.tsx
  aait/web/group-3/starter_project_group3/components/success-stories/StoriesSection.tsx
  aait/web/group-3/starter_project_group3/store/index.ts
  aait/web/group-3/starter_project_group3/store/user-Slice/index.ts
Labels: web, group 3, AAiT, Fix PR title format
